<div class="Option-button">
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Download">
                 <img src="/assets/img/graph-icons.png">
                  </button>
    <mat-menu #menu="matMenu">
        <a #Save> <button mat-menu-item (click)="png()"> 
                      <span>PNG</span>
                    </button></a>
        <a #Saves> <button mat-menu-item (click)="jpg()">
                      <span>JPEG</span>
                    </button></a>
    </mat-menu>
</div>
<div class="container">
    <div class="charts">
        <div class="spinner" *ngIf="showSpinner">
            <img src="../../../assets/img/fidget_red.gif" width="150" height="150" alt="logo">
        </div>
        <h2 class="spinner">{{error}}</h2>
        <h3 style="margin-top: 20px; color: #cd0000; text-align: center;" *ngIf="errMsg != null">{{errMsg}}</h3>
        <canvas id="payChart" #payChart></canvas>
    </div>
</div>