<h3 class="text-center">Edit Holiday</h3>
<div mat-dialog-content>
    <form [formGroup]="holidayForm">
        <div class="row">
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input matInput placeholder="Holiday Name" formControlName=holiday_desc maxlength="50">
                <mat-error *ngIf="holidayForm.controls.holiday_desc.hasError('required')"> Holiday Name is required </mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input matInput placeholder="Date" [matDatepicker]="picker1" formControlName=holiday_date>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="holidayForm.controls.holiday_date.hasError('required')"> Date is required </mat-error>
            </mat-form-field>
        </div>
    </form>
    <br>
</div>
<div mat-dialog-actions>
    <div class="text-center">
        <button [disabled]="disabledBtn" mat-raised-button type="submit" (click)="onSubmit()">Save</button>
        <button [disabled]="disabledBtn" mat-button [mat-dialog-close]>Cancel</button>
    </div>
</div>