<div class="wrapper">
    <!-- <section class="about-1">
        <div class="container">
            <div class="main-text">
                <p class="large text-center"> <strong> About Us Our Energy Texas Retail Electricity </strong> </p>
            </div>
        </div>
    </section> -->
    <section class="about-4">
        <div class="container">
            <div class="row">
                <h3 class="title">WHAT WE DO</h3>
                <p>Our secret to being an excellent Texas electric company is in Building and Maintaining Relationship with You. At OUR Energy llc, the core of our company is YOU. We reach out to our customers at every point of contact to continuously
                    improve upon our service.</p>
                <p>We strive to set the energy industry bar that others look to follow. We work towards our goals through diligent efforts such as our genuinely friendly, personalized service, proactive involvement in continuous service improvement and
                    affordable prices. At Our Energy, we make it our priority to care and serve for what matters the most: YOU.
                </p>
            </div>
        </div>
    </section>
    <section class="about-1-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img class="width-full" style="margin-top: 55px;" src="https://storage.wattcrm.com/wattcrm-images/pics/aboutus/AboutUsPage012.jpg">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 energy">
                    <h2 class="sub-heading">ABOUT OUR ENERGY</h2>
                    <p class="energy-tips-detail">
                        OUR Energy LLC is a Texas retail electricity provider (REP) founded by a group of professionals with 30+ years experience in retail electricity and gas industry. We are top quality electric providers servicing residential, commercial and industrial customers
                        delivering competitive pricing, flexible contracts, customized billing and outstanding customer service.
                    </p>
                    <p class="energy-tips-detail">
                        In current economic conditions, business owners are seeking superior customer service at reduced costs to increase revenues and generate more value. At OUR Energy, we pride ourselves for providing excellent energy products and services, delivering superior
                        customer service and offering far superior support than the mainstream energy providers in Texas. OUR Energy provides a wide range of products and services that will fit your needs. By combining prices and service, we deliver value
                        to all customers, large or small, residential or commercial. You have the power to choose TX. Choose OUR Energy, the premier TX energy company!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 energy">
                    <h2 class="sub-heading">OUR MISSION AND VISION</h2>
                    <p class="energy-tips-detail">
                        <b>Our Vision:</b> Our vision is to be the best Texas electricity company; leading by example by providing highest level of quality, customer service and shareholder value.
                    </p>
                    <p class="energy-tips-detail">
                        <b>Our Mission:</b> Our mission is to help customers not only save money off their energy bills but bring them together as a community, continually striving for excellence in the products and services we offer.
                    </p>
                    <p class="energy-tips-detail">
                        <b>Our Objective:</b> Our objective is to provide
                        <b>reliable</b> total
                        <b>quality</b> Texas power and energy services at the most
                        <b>competitive</b> pricing. We seek to revolutionize the retail electric provider (REP) industry through innovation, scalability, diligence, expertise, dependability, honesty & integrity.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img class="width-full" style="margin-top: 55px;" src="https://storage.wattcrm.com/wattcrm-images/pics/aboutus/AboutUsPage021.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="about-3">
        <div class="container">
            <h3 class="title text-center"> WHY OUR ENERGY </h3>
            <ul>
                <li>Quick, Efficient and Personalized Electric Company Service.</li>
                <li>A passion for taking care of customers.</li>
                <li>Direct approach to customers’ views of the service they require.</li>
                <li>A willingness to be flexible.</li>
                <li>A work ethic based on dedication to the company and its mission.</li>
                <li>Sales through service.</li>
                <li>Committed to a long term vision.</li>
            </ul>
        </div>
    </section>
    <div class="main-content">
        <div class="container-fluid container">
            <div class="count-on">
                <h3 class="title text-center">
                    <strong>YOU CAN COUNT ON</strong> OUR ENERGY</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                            <h4>save money</h4>
                            <p>Better service at better price</p>
                            <div id="demo" class="collapse">
                                <p>
                                    <strong>Our commitment is to supply our customers with reliable and dependable energy at a competitive rate.</strong>
                                </p>
                                <p>We take all of the guesswork out of how to save money on your power bill. Our energy market analysts negotiate and pre-purchase massive volumes of electricity enabling us to pass along the energy savings to you. REAL-TIME
                                    rates and pricing means real savings for you. At OUR Energy we provide customized pricing solutions tailored to meet your individual needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo1">
                            <i class="fa fa-scissors" aria-hidden="true"></i>
                            <h4>hassle free</h4>

                            <p>Cut through all of the red tape!</p>
                            <div id="demo1" class="collapse">
                                <p>
                                    <strong>At OUR Energy, we are always looking for new ways to help make your life easier.</strong>
                                </p>
                                <p>We understand that time is money, which is why we offer same day move-ins and out-of-cycle switches. Manage all aspects of your energy service very easily online through your
                                    <a routerLink="/login">My Account</a> portal. Visit our website regularly to take advantage of a wealth of information such as
                                    <a routerLink="/energy-saving">energy saving tips</a>, industry updates as well as an intuitive
                                    <a routerLink="/help">Help Center</a>. We simplify the complex energy market to make it easier for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo2">
                            <i class="material-icons">wb_sunny</i>
                            <h4>quality services</h4>
                            <p>Total quality care specialists</p>
                            <div id="demo2" class="collapse">
                                <p>
                                    <strong>Building solid, long lasting relationships one customer at a time is the focus of the OUR Energy Team.</strong>
                                </p>
                                <p>We incorporate quality into every aspect of our business through our intuitive account management system, fully scalable and customizable
                                    <a routerLink="/residential">residential</a> and
                                    <a routerLink="/commercial">commercial</a> power services, as well as your personal Customer Care Specialist to cater to your individual needs. Experience first hand how we stand out from all other Texas energy companies!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo3">
                            <i class="material-icons">grade</i>
                            <h4>honesty and integrity</h4>

                            <p>We don't just talk the talk</p>
                            <div id="demo3" class="collapse">
                                <p>
                                    <strong>Our success is only measured by our ability to best service our customers.</strong>
                                </p>
                                <p>It is about being trustworthy and straightforward in all of our working relationships, standing behind each promise made. In order to ensure complete transparency, the Our Energy Team encourages all of your valuable suggestions
                                    and
                                    <a routerLink="/contact">feedback</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo4">
                            <i class="material-icons">lock</i>
                            <h4>solid and reliable</h4>
                            <p>Our reputation speaks for itself</p>
                            <div id="demo4" class="collapse">
                                <p>
                                    <strong>We take great pride in our positive reputation among our customers.</strong>
                                </p>
                                <p>We offer solid and reliable power solutions. We have successfully spent the past seven years of providing the finest Texas electricity services in the market. Our fixed electricity rates will not change because all energy
                                    has been pre-purchased.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="holder" data-toggle="collapse" data-target="#demo5">
                            <i class="material-icons">favorite</i>
                            <h4>we care</h4>
                            <p>TEXAS is our heart and soul</p>
                            <div id="demo5" class="collapse">
                                <p>
                                    <strong>Our community is what makes us tick.</strong>
                                </p>
                                <p>We are proud to be a reputable, responsible and proactive Texas electric company. We show how much we care each day by always seeking to make a positive impact in everything we do. Whether it be by raising the bar on customer
                                    service standards or helping to fund various community projects, we live to make a difference! Visit
                                    <a routerLink="/community">Our Community</a> Today.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="title">Resolve, Involve and Evolve</h2>
                    </div>
                    <section class="card-plain about-2">
                        <div class="card-content">
                            <ul class="timeline">
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger">
                                        <i class="fa fa-bolt"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="btn btn-danger btn-sm">Resolve</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>At OUR Energy, our RESOLVE is to consistently provide our customers top quality energy service at the most affordable rates. What’s more, we provide the most competitive energy prices regardless of the season.
                                                We achieve this through our expert energy market analysis that allows us to strategically pre-purchase energy, therefore ensuring you reliable fixed rates. OUR Energy combines prices savings with cutting
                                                edge technology and old fashioned friendly customer service to deliver excellence across the board. Our RESOLVE is to be the finest residential and commercial energy company in Texas!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge success">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="btn btn-success btn-sm">Involve</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>At OUR Energy, we keep our hearts INVOLVED in everything we do. From Community Outreach projects to your customer feedback, we value every opportunity we have to make a difference. No customer is too big or
                                                too small, every customer’s opinion counts. We go beyond the usual standard energy service simply because WE CARE!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge info">
                                        <i class="fa fa-magic"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="btn btn-info btn-sm">Evolve</span>
                                        </div>
                                        <div class="timeline-body">
                                            <p>At OUR Energy, we constantly EVOLVE. Just as the world is ever changing, we listen, analyze, learn and plan ahead to always maintain a step ahead of the rest. We endeavor to constantly surprise you with service
                                                improvements simply because YOU DESERVE IT!</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
     
        <section class="about-5">
            <div class="container">
                <h3 class="title text-center">OUR
                    <strong>CLIENTS</strong>
                </h3>
                <span class="caption">* The clients listed are an example of individual franchise customers that we serve and do not represent the entire brand.
         </span>
                <div class="detail">
                    <p>
                        <span class="large">Our Energy</span> is a premier Texas residential and commercial retail electricity provider.
                        <br />We pride ourselves in making quality services affordable to all such as:</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row">
                                <ul class="col-sm-6">
                                    <li>
                                        <a routerLink="/help">Same Day Move-Ins or Out of Cycle Switches</a>
                                    </li>
                                    <li>
                                        <a routerLink="/help">Help Tools</a>
                                    </li>
                                    <li>
                                        <a routerLink="/energy-saving">Money Saving Tips</a>
                                    </li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li>
                                        <a routerLink="/community">Community Outreach Projects</a>
                                    </li>
                                    <li>
                                        <a routerLink="/ourlife">OUR Life Blog</a>
                                    </li>
                                    <li>
                                        <a routerLink="/special">OUR Energy Member Rewards</a>
                                    </li>
                                </ul>
                            </div>
                            <p>OUR Energy services of all sizes from start ups to large corporations. Our success is brought about by our special ability to customize each business plan to best suit the needs of each commercial customer.</p>
                            <p>The following are a few examples of the various types of Texas industries pride ourselves in servicing:</p>
                            <div class="row">
                                <ul class="col-sm-6">
                                    <li>Agriculture</li>
                                    <li>Banking and Accounting</li>
                                    <li>Call Centers</li>
                                    <li>Chemical</li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li>Technology</li>
                                    <li>Education</li>
                                    <li>Food and Beverage</li>
                                    <li>Non Profit</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <img class="mySlides" src="../../assets/img/TAcobel.jpg">
                            <img class="mySlides" src="../../assets/img/KFC2.jpg">
                            <img class="mySlides" src="../../assets/img/Longjonh.jpg">
                            <img class="mySlides" src="../../assets/img/TAcobel.jpg">
                            <img class="mySlides" src="../../assets/img/PizzaHut.jpg">
                            <p class="clients">* The clients listed are an example of individual franchise customers that we serve and do not represent the entire brand.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>We are constantly seeking feedback on how we can enhance our services. Please feel free to submit your
                                <a href="#">feedback</a> today.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>