<div class="wrapper">
  <!-- <section class="about-1">
        <div class="container">
            <div class="main-text">
                <p class="large text-center"> <strong> About Us Our Energy Texas Retail Electricity </strong> </p>
            </div>
        </div>
    </section> -->
  <section class="about-4">
    <div class="container">
      <div class="row">
        <h3 class="title">About Our Energy</h3>
        <p>Our secret to being an excellent Texas electric company is in Building and Maintaining Relationship with You.
          At OUR Energy llc, the core of our company is YOU. We reach out to our customers at every point of contact to
          continuously
          improve upon our service.</p>
        <p>We strive to set the energy industry bar that others look to follow. We work towards our goals through
          diligent efforts such as our genuinely friendly, personalized service, proactive involvement in continuous
          service improvement and
          affordable prices. At Our Energy, we make it our priority to care and serve for what matters the most: YOU.
        </p>
        <p>OUR Energy LLC is a Texas retail electricity provider (REP) founded by a group of professionals with 30+ years experience in retail electricity and gas industry. We are top quality electric providers servicing residential, commercial and industrial customers delivering competitive pricing, flexible contracts, customized billing and outstanding customer service.</p>
        <p>In current economic conditions, business owners are seeking superior customer service at reduced costs to increase revenues and generate more value. At OUR Energy, we pride ourselves for providing excellent energy products and services, delivering superior customer service and offering far superior support than the mainstream energy providers in Texas. OUR Energy provides a wide range of products and services that will fit your needs. By combining prices and service, we deliver value to all customers, large or small, residential or commercial. You have the power to choose TX. Choose OUR Energy, the premier TX energy company!</p>
      </div>
    </div>
  </section>
  <!-- <section class="about-1-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="width-full" style="margin-top: 55px;"
            src="https://storage.wattcrm.com/wattcrm-images/pics/aboutus/AboutUsPage012.jpg">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 energy">
          <h2 class="sub-heading">ABOUT OUR ENERGY</h2>
          <p class="energy-tips-detail">
            OUR Energy LLC is a Texas retail electricity provider (REP) founded by a group of professionals with 30+
            years experience in retail electricity and gas industry. We are top quality electric providers servicing
            residential, commercial and industrial customers
            delivering competitive pricing, flexible contracts, customized billing and outstanding customer service.
          </p>
          <p class="energy-tips-detail">
            In current economic conditions, business owners are seeking superior customer service at reduced costs to
            increase revenues and generate more value. At OUR Energy, we pride ourselves for providing excellent energy
            products and services, delivering superior
            customer service and offering far superior support than the mainstream energy providers in Texas. OUR Energy
            provides a wide range of products and services that will fit your needs. By combining prices and service, we
            deliver value
            to all customers, large or small, residential or commercial. You have the power to choose TX. Choose OUR
            Energy, the premier TX energy company!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 energy">
          <h2 class="sub-heading">OUR MISSION AND VISION</h2>
          <p class="energy-tips-detail">
            <b>Our Vision:</b> Our vision is to be the best Texas electricity company; leading by example by providing
            highest level of quality, customer service and shareholder value.
          </p>
          <p class="energy-tips-detail">
            <b>Our Mission:</b> Our mission is to help customers not only save money off their energy bills but bring
            them together as a community, continually striving for excellence in the products and services we offer.
          </p>
          <p class="energy-tips-detail">
            <b>Our Objective:</b> Our objective is to provide
            <b>reliable</b> total
            <b>quality</b> Texas power and energy services at the most
            <b>competitive</b> pricing. We seek to revolutionize the retail electric provider (REP) industry through
            innovation, scalability, diligence, expertise, dependability, honesty & integrity.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="width-full" style="margin-top: 55px;"
            src="https://storage.wattcrm.com/wattcrm-images/pics/aboutus/AboutUsPage021.jpg">
        </div>
      </div>
    </div>
  </section> -->
  <section class="about-3">
    <div class="container">
      <h3 class="title text-center"> WHY OUR ENERGY </h3>
      <ul>
        <li>Quick, Efficient and Personalized Electric Company Service.</li>
        <li>A passion for taking care of customers.</li>
        <li>Direct approach to customers’ views of the service they require.</li>
        <li>A willingness to be flexible.</li>
        <li>A work ethic based on dedication to the company and its mission.</li>
        <li>Sales through service.</li>
        <li>Committed to a long term vision.</li>
      </ul>
    </div>
  </section>
  <div class="main-content">
    <div class="container-fluid container">
     
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h2 class="title">Resolve, Involve and Evolve</h2>
          </div>
          <section class="card-plain about-2">
            <div class="card-content">
              <ul class="timeline">
                <li class="timeline-inverted">
                  <div class="timeline-badge danger">
                    <i class="fa fa-bolt"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="btn btn-danger btn-sm">Resolve</span>
                    </div>
                    <div class="timeline-body">
                      <p>At OUR Energy, our RESOLVE is to consistently provide our customers top quality energy service
                        at the most affordable rates. What’s more, we provide the most competitive energy prices
                        regardless of the season.
                        We achieve this through our expert energy market analysis that allows us to strategically
                        pre-purchase energy, therefore ensuring you reliable fixed rates. OUR Energy combines prices
                        savings with cutting
                        edge technology and old fashioned friendly customer service to deliver excellence across the
                        board. Our RESOLVE is to be the finest residential and commercial energy company in Texas!</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge success">
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="btn btn-success btn-sm">Involve</span>
                    </div>
                    <div class="timeline-body">
                      <p>At OUR Energy, we keep our hearts INVOLVED in everything we do. From Community Outreach
                        projects to your customer feedback, we value every opportunity we have to make a difference. No
                        customer is too big or
                        too small, every customer’s opinion counts. We go beyond the usual standard energy service
                        simply because WE CARE!</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="fa fa-magic"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="btn btn-info btn-sm">Evolve</span>
                    </div>
                    <div class="timeline-body">
                      <p>At OUR Energy, we constantly EVOLVE. Just as the world is ever changing, we listen, analyze,
                        learn and plan ahead to always maintain a step ahead of the rest. We endeavor to constantly
                        surprise you with service
                        improvements simply because YOU DESERVE IT!</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- <section class="about-5">
            <div class="container">
                <h3 class="title text-center">OUR
                    <strong>CLIENTS</strong>
                </h3>
                <span class="caption">* The clients listed are an example of individual franchise customers that we serve and do not represent the entire brand.
         </span>
                <div class="detail">
                    <p>
                        <span class="large">Our Energy</span> is a premier Texas residential and commercial retail electricity provider.
                        <br />We pride ourselves in making quality services affordable to all such as:</p>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row">
                                <ul class="col-sm-6">
                                    <li>
                                        <a routerLink="/help">Same Day Move-Ins or Out of Cycle Switches</a>
                                    </li>
                                    <li>
                                        <a routerLink="/help">Help Tools</a>
                                    </li>
                                    <li>
                                        <a routerLink="/energy-saving">Money Saving Tips</a>
                                    </li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li>
                                        <a routerLink="/community">Community Outreach Projects</a>
                                    </li>
                                    <li>
                                        <a routerLink="/ourlife">OUR Life Blog</a>
                                    </li>
                                    <li>
                                        <a routerLink="/special">OUR Energy Member Rewards</a>
                                    </li>
                                </ul>
                            </div>
                            <p>OUR Energy services of all sizes from start ups to large corporations. Our success is brought about by our special ability to customize each business plan to best suit the needs of each commercial customer.</p>
                            <p>The following are a few examples of the various types of Texas industries pride ourselves in servicing:</p>
                            <div class="row">
                                <ul class="col-sm-6">
                                    <li>Agriculture</li>
                                    <li>Banking and Accounting</li>
                                    <li>Call Centers</li>
                                    <li>Chemical</li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li>Technology</li>
                                    <li>Education</li>
                                    <li>Food and Beverage</li>
                                    <li>Non Profit</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <img class="mySlides" src="../../assets/img/TAcobel.jpg">
                            <img class="mySlides" src="../../assets/img/KFC2.jpg">
                            <img class="mySlides" src="../../assets/img/Longjonh.jpg">
                            <img class="mySlides" src="../../assets/img/TAcobel.jpg">
                            <img class="mySlides" src="../../assets/img/PizzaHut.jpg">
                            <p class="clients">* The clients listed are an example of individual franchise customers that we serve and do not represent the entire brand.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>We are constantly seeking feedback on how we can enhance our services. Please feel free to submit your
                                <a href="#">feedback</a> today.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <section class="about_form">
        <div class="brokersforms">
            <mat-card class="brokersUpdate">
                <mat-card-header>
                    <div mat-card-avatar>
                        <i class="material-icons">insert_comment</i>
                    </div>
                    <mat-card-title>CONTACT US</mat-card-title>
                </mat-card-header>
               
                <form class="brokersalign" [formGroup]="myForm" (ngSubmit)="submit()" #form>
                    <div class="row">
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input matInput placeholder="Names" formControlName=name>
                            <mat-error *ngIf="f.name.errors?.required">You must enter a value</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input matInput placeholder="Email Address" formControlName=email>
                            <mat-error *ngIf="f.email.errors?.required">You must enter a value</mat-error>
                            <mat-error *ngIf="!f.email.errors?.required && f.email.errors?.email">Invalid Email Address</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input matInput placeholder="Contact No." formControlName=mobile phone-no maxlength="12">
                            <mat-error *ngIf="f.mobile.errors?.required">You must enter a value</mat-error>
                            <mat-error *ngIf="f.mobile.errors?.pattern">Invalid Contact No.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea matInput placeholder="Message" formControlName=message></textarea>
                            <mat-error *ngIf="f.message.errors?.required">You must enter a value</mat-error>
                        </mat-form-field>
                        <div class="recaptcha col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-recapcha></app-recapcha>
                            <p class="text-center error"> {{cap_result}}</p>
                            <button [disabled]="btnDisabled" >Submit</button>
                        </div>
                    </div>
                </form>
          
            </mat-card>
        </div>
    </section>
  </div>
</div>