<div class="wrapper">
    <section class="about-1">
        <div class="container">
            <div class="main-text">
                <h1 class="large-broker">Welcome to Our Broker Program</h1>
            </div>
        </div>
    </section>
    <div class="main-content">
        <div class="container-fluid container">
            <section class="commercial-main">
                <div class="bg-white">
                    <h3 class="text-center">OUR ENERGY BROKER PROGRAM</h3>
                    <hr />
                    <div class="cm-detail">
                        <p>
                            <strong>LET’S GROW TOGETHER!</strong> Team up with Our Energy and rest assured that you are partnering with the finest energy company in Texas. Our Energy gives top notch energy brokers the opportunity to provide their customers
                            with superb electricity solutions that they will thank you for! More importantly, your compensation is well worth your efforts!
                        </p>
                    </div>
                </div>
                <section>
                    <div class="Our-lev-heading">
                        <h1>OUR LEVERAGE</h1>
                        <hr>
                    </div>
                    <div class="our-leverage">
                        <mat-card>
                            <h3>VIP Level Support</h3>
                            <div class="icon">
                                <i class="material-icons">home</i>
                            </div>
                            <p>Get the royal treatment you deserve! Our friendly Broker Care Experts will help take your sales to the next level!
                            </p>
                        </mat-card>
                        <mat-card>
                            <h3>Solid As a Rock</h3>
                            <div class="icon">
                                <i class="material-icons">query_builder</i>
                            </div>
                            <p>We’re ahead of the game with 30+ years experience in retail electricity and gas industry.</p>
                        </mat-card>
                        <mat-card>
                            <h3>Hit the Bulls Eye</h3>
                            <div class="icon">
                                <i class="material-icons">favorite</i>
                            </div>
                            <p>Our quality service and competitive prices are exactly what people are looking for! This is a service that sells itself!
                            </p>
                        </mat-card>
                        <mat-card>
                            <h3>Good As Gold</h3>
                            <div class="icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <p>We are only as successful as our partners which is why it is a priority to take care of you!</p>
                        </mat-card>
                    </div>
                </section>
                <section class="about-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="title">HOW WE DO IT</h3>
                                <p>At OUR Energy we understand how important it is to provide excellent service to Our Customers, but also to Our Brokers. This is why we have created a Broker Management Team, which provides the following services:</p>
                                <ul class="list-group">
                                    <li>Expert Personalized Assistance.</li>
                                    <li>Custom Tailored Plans.</li>
                                    <li>Competitive Daily Pricing.</li>
                                    <li>A willingness to be flexible</li>
                                    <li>Competitive Compensation Models.</li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Expert Personalized Assistence
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>We provide one main point of contact for each Agent or Brokerage Firm, our friendly Broker Care Experts. This results in obtaining quotes, answer questions and establish contracts in a quick, efficient. We’ll work
                                            with you to help meet and surpass your sales goals!</p>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Custom Tailored Plans
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>We’re flexible! We offer Customized Plans that are scalable, reliable and affordable. We offer plans that are custom tailored to meet the client’s specific needs.</p>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Competitive Daily Pricing
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>
                                            Our energy market experts pre-purchase bulk volumes of electricity at the lowest rates. This insures you excellent prices that will not change with the trends. All of our contracts include Nodal & RUC charges.
                                        </p>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Competitive Compensation Models
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p>Partner up with OUR Energy and secure a generous commission. We believe in flexibility, transparency, efficiency and timely for a mutually successful partnership..</p>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </section>
                <h2 class="text-center">BROKER APPLICATION</h2>
                <h3 class="text-center">BECOME AN OUR ENERGY BROKER TODAY!</h3>
                <hr />
                <div class="cm-detail">
                    <p>Thank you for your interest in the OUR Energy Broker Program. Please fill out the Broker Application Form with valid information and a friendly Broker Care Expert will get back to you in an expeditious manner. Make sure that you detail
                        any questions that you may have in Comments section..</p>
                </div>
                <form class="brokersforms" [formGroup]=myForm #form (ngSubmit)="submit()">
                    <mat-card class="brokersUpdate">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <i class="material-icons">edit_mode</i>
                            </div>
                            <mat-card-title>Broker Application</mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <mat-form-field style="margin-bottom: 10px; font-size: 24px;" class="col-lg-offset-3 col-md-offset-3 col-sm-offset-0 col-xs-offset-0 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input matInput placeholder="Agent ID" formControlName=AgentID maxlength="10">
                                <mat-hint>If you are an existing agent then enter your Agent ID</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="First Name" formControlName=firstname maxlength="50">
                                <!-- <mat-error *ngIf="f.firstname.errors?.required">First Name is required</mat-error> -->
                                <mat-error *ngIf="f.firstname.errors?.pattern">Invalid First Name</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Last Name" formControlName=lastname maxlength="50">
                                <!-- <mat-error *ngIf="f.lastname.errors?.required">Last Name is required</mat-error> -->
                                <mat-error *ngIf="f.lastname.errors?.pattern">Invalid Last Name</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Username" formControlName=username required maxlength="20">
                                <mat-error *ngIf="f.username.errors?.required">Username is required</mat-error>
                                <mat-hint align="end" style="color:#cd0000 !important">{{errorUsername}}</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Email" formControlName=email required maxlength="100">
                                <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
                                <mat-error *ngIf="f.email.errors?.email && !f.email.errors?.required">Invalid Email</mat-error>
                                <mat-hint align="end" style="color:#cd0000 !important">{{errorEmail}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Company Name" formControlName=companyname required maxlength="50">
                                <mat-error *ngIf="f.companyname.errors?.required">Company Name is required</mat-error>
                                <mat-error *ngIf="f.companyname.errors?.pattern">Invalid Company Name</mat-error>
                                <mat-hint align="end" style="color:#cd0000 !important">{{errorCompanyName}}</mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Contact No." formControlName=phoneno maxlength="12" required phone-no>
                                <mat-error *ngIf="f.phoneno.errors?.required">Contact No. is required</mat-error>
                                <mat-error *ngIf="f.phoneno.errors?.pattern">Invalid Contact No.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Password" formControlName=password type="password" required maxlength="100">
                                <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
                                <mat-error *ngIf="f.password.errors?.minlength">Password must contain atleast 8 characters</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <input matInput placeholder="Confirm Password" formControlName=confirm_password type="password">
                                <mat-error *ngIf="f.confirm_password.errors?.notEquivalent">Password does not match</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="text-center">
                            <div style="margin-top: 10px">
                                <app-recapcha></app-recapcha>
                            </div>
                            <div>
                                <p style="color: #f44336; font-weight: bold; margin-bottom: 0px; margin-top: 10px;" class="error"> {{cap_result}}</p>
                            </div>
                            <div class="recaptchaa">
                                <div>
                                    <button mat-raised-button [disabled]="btnDisabled" class="brokersbtn2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </section>
        </div>
    </div>
    <div class="member-special">
        <div class="container">
            <h3 class="title">Looking for an Excellent Residential Plan?</h3>
            <p>Find one that's right for you!</p>
            <button class="btn btn-warning btn-lg" routerLink="/residential">READ MORE
            </button>
        </div>
    </div>
</div>