<div class="">
    <div class="main-content1">
        <div class="container-fluid container">
            <section class="commercial-main">
                <div class="bg-white">
                    <h3 class="text-center">
                        <strong>WHY CHOOSE</strong> OUR ENERGY COMMERCIAL ELECTRICITY</h3>
                    <hr />
                    <div class="cm-detail">
                        <p>
                            <strong>Reduce your costs and boost your bottom line!</strong> Everyone could use a reduction in their commercial electricity rates and overall electricity bill. The reality is that very few businesses have the time, knowledge
                            or resources to obtain the best energy savings that are so badly needed. This is where OUR Energy commercial electricity services really make a difference!
                        </p>
                        <p>
                            <strong>Hire us and we’ll help you save money.</strong> OUR Energy LLC specializes in helping Texas businesses reduce their energy rates over the long term. Tired of looking for TX energy services in all of the wrong places?
                            Frustrated by the one size fits all mentality of most electric companies in Texas? Stop wasting money on fly by night electric providers. Get a proven commercial electricity solution for a change! Choose Our Energy, the best
                            Texas Electric Company to help your business prosper and grow!
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="four_Steps">
        <div class="main-content">
            <div class="container-fluid container">
                <section class="commercial-main">
                    <h2 class="text-center">LOOKING FOR A CUSTOM TAILORED PLAN FOR
                        <strong>YOUR BUSINESS?</strong>
                    </h2>
                    <h3 class="text-center">REQUEST YOUR
                        <strong>FREE QUOTE</strong> TODAY!</h3>
                    <hr />
                    <div class="cm-detail">
                        <p>Looking for a new quality
                            <b>Texas energy service provider</b> or just
                            <b>curious to what else is out there?</b> Please fill in all of the details with valid information to get your
                            <b>FREE,</b> no obligation quote.</p>
                    </div>
                    <div class="cm-detail">
                        <h3>
                            ENJOY BUSINESS ELECTRICITY DONE THE RIGHT WAY!</h3>
                        <p>
                            <b>We dare you to compare electricity rates.</b> You have nothing to lose! If you need more space to add in zip codes, questions, comments or details please feel free to indicate that in the space “Notes or Additional Info”.
                            A friendly Customer Care Specialist will contact you in a timely manner.</p>
                    </div>
                    <div class="commercialforms">
                        <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="toggle-form">Click Here for Custom Quite</button>
                        <div class="collapse" id="collapseExample">
                            <mat-card class="commercialUpdate">
                                <form [formGroup]="commercialForm" (ngSubmit)="submit()" #form>
                                    <div class="row">
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder="Name" maxlength="50" formControlName=Name required>
                                            <mat-error *ngIf="f.Name.errors?.required">Name is required</mat-error>
                                            <mat-error *ngIf="f.Name.errors?.pattern">Invalid Input</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder=" Business Name" maxlength="50" formControlName=BusinessName required>
                                            <mat-error *ngIf="f.BusinessName.errors?.required">Business Name is required</mat-error>
                                            <mat-error *ngIf="f.BusinessName.errors?.pattern">Invalid Input</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <mat-select placeholder="Business Type" formControlName=BusinessType>
                                                <mat-option *ngFor="let type of businessType" [value]="type.value">{{type.businesstype}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder="Email" maxlength="50" formControlName=Email required>
                                            <mat-error *ngIf="f.Email.errors?.required">Email is required</mat-error>
                                            <mat-error *ngIf="f.Email.errors?.email && !f.Email.errors?.required">Invalid Email Address</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder="Telephone" maxlength="12" formControlName=Telephone phone-no>
                                            <mat-error *ngIf="f.Telephone.errors?.pattern">Invalid Input</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder=" Mobile No." maxlength="12" formControlName=Mobile phone-no>
                                            <mat-error *ngIf="f.Mobile.errors?.pattern">Invalid Input</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder="Electricity Usage (kWh)" maxlength="4" formControlName=ElectricityUsage>
                                            <mat-error *ngIf="f.ElectricityUsage.errors?.pattern">Invalid Input</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input matInput placeholder="Notes or Additional Information" maxlength="250" formControlName=Notes>
                                        </mat-form-field>
                                    </div>
                                    <div class="text-center">
                                        <div class="center__recap">
                                            <app-recapcha></app-recapcha>
                                        </div>
                                        <div>
                                            <p style="color: #f44336; font-weight: bold; margin-bottom: 0px; margin-top: 10px;" class="error">
                                                {{cap_result}}</p>
                                        </div>
                                        <div class="recaptchaa">
                                            <div>
                                                <button class="btn" [disabled]="btnDisabled" class="brokersbtn2">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </mat-card>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- <section class="commercial-banner">
            <div class="container">
                <h3 class="title text-center">
                    FINDING THE RIGHT CUSTOMIZED PLAN FOR YOU
                </h3>
                <div class="row">
                    <div class="inner-row">
                        <div><i class="fa fa-search"></i></div>
                        <div>What are Your Needs?</div>
                    </div>
                    <div class="inner-row">
                        <div><i class="fa fa-tachometer"></i></div>
                        <div>What is Your Consumption History?</div>
                    </div>
                    <div class="inner-row">
                        <div><i class="fa fa-question-circle"></i></div>
                        <div>What are Other Factors?</div>
                    </div>
                    <div class="inner-row">
                        <div><i class="fa fa-road"></i></div>
                        <div>What Are your Future Plans?</div>
                    </div>
                    <div class="inner-row">
                        <div><i class="fa fa-lightbulb-o"></i></div>
                        <div>This is Your Customized Solution!</div>
                    </div>
                </div>
            </div>
        </section> -->
        <div class="member-special">
            <div class="container">
                <h3 class="title">Looking For an Excellent Residential Plan?</h3>
                <p>Find one that's right for you!</p>
                <button class="btn btn-warning btn-lg" routerLink="/residential">find a plan that's right for you
        </button>
            </div>
        </div>
    </div>