<!-- <div class="container-fluid con-helpTools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>HELP</h1>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container">
    <div class="padding-top-bottom help">
        <mat-tab-group [selectedIndex]="tabIndex">
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-list-ul tools-heading"></i>
                    </a>
                    <a routerLink="." class="tools-heading">FAQ'S</a>
                </ng-template>
                <h1 style="font-size: 31px;">FAQ's</h1>
                <p>Thank you for visiting the Our Energy Frequently Asked Questions section. We always advise that you drop by and browse the questions as we update them on a regular basis. We hope that you find the answer to your questions here. If your
                    question is not listed, please feel free to use the Ask Our Energy form below. We will be happy to review your question and get back to you within twenty four hours.</p>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Who is Our Energy?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>OUR Energy is a Retail Electric Provider (REP) which is Licensed to operate in Texas in the Retail Energy Market, we are in process of expanding our operations in Retail Electricity and Gas Markets in New York and Illinois.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is the difference between a Retail Electricity Provider (REP) and a utility company (TDSP)?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>With electricity market deregulation, you have a choice of who is your retail electric provider. Retail electric providers provide you with an energy price, electric bill and customer service. The local utility company (TDSP) maintains
                            the poles and wires in your community. Because of electricity market deregulation, Customers have a choice in retail electric providers. So, when you switch retail electric providers for the same residence or business location,
                            you should experience no change in the reliability of your service. Your local utility company (TDSP) will continue to read your meter and will continue to maintain the poles and wires. And you will continue to call your local
                            utility company (TDSP) in the event of an outage. If you change locations within the state, your local utility company (TDSP) may change.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Is OUR Energy certified as a Retail Electricity Provider?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes, the Public Utility Commission for the State of Texas puts every REP through a rigid and strict process of certification. OUR Energy has met the requirements for financial, managerial and technical abilities for the privilege
                            of selling energy in Texas (PUC Certificate Number 10170).</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Why would I choose OUR Energy?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Honesty, Integrity and Loyalty. As a Retail Electric provider we will make sure that you THE Customer is treated as a part of OUR Energy Family, we will make sure your issues or concerns are addressed and as much as it is possible
                            it should always be a one call resolution.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How will OUR Energy be better than any other REP?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>With proper Risk management, competitive prices and customer service above all others we will make sure that we always tailor to you THE CUSTOMER’S needs.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What happens if my REP (Retail Electric Provider) goes out of business?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>You will not lose POWER. You will receive a notice from the provider giving you time to select your new provider, usually it is a 30 Day Notice. If a customer does not choose a new provider during that time, you will be assigned
                            to a “Provider of Last Resort,” which is an assigned back-up electricity provider. (Texas Administrative Code §25.43(a)(2)).
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What are OUR Energy hours of operations for Customer Service?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>OUR Energy will be available from 8:30 AM to 6 PM over the phone (1888-5454-OUR) , fax (281-715-5767) or by email customerservice@ourenergyllc.com
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What Should I do if there is a Power Outage?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>For information about power outages, please contact your (local utility) Transmission and Distribution Service Provider.
                        </p>
                        <p>AEP Texas Central (866) 223-8508</p>
                        <p>AEP Texas North (866) 223-8508</p>
                        <p>CenterPoint Energy (800) 332-7143</p>
                        <p>Sharyland Utilities (956) 668-9551</p>
                        <p>TNMP (Texas-New Mexico Power Company) (888) 866-7456</p>
                        <p>Oncor (formerly TXU Electric Delivery Company) (888) 313-4747</p>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="brokersforms">
                    <mat-card class="brokersUpdate">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <i class="material-icons">contact_support</i>
                            </div>
                            <mat-card-title>Ask Our Energy</mat-card-title>
                        </mat-card-header>
                        <form class="brokersdate" [formGroup]="myForm" (ngSubmit)="Submit()" #help>
                            <mat-form-field>
                                <input matInput placeholder="Name" formControlName=name>
                                <mat-error *ngIf="f.name.errors?.required">You must enter a value</mat-error>
                                <mat-error *ngIf="f.name.errors?.pattern">Invalid pattern</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName=email>
                                <mat-error *ngIf="f.email.errors?.required">You must enter a value</mat-error>
                                <mat-error *ngIf="f.email.errors?.pattern">Invalid pattern</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Question" formControlName=question>
                                <mat-error *ngIf="f.question.errors?.required">You must enter a value</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Message" formControlName=message>
                            </mat-form-field>
                            <div class="recaptcha">
                                <div>
                                    <app-recapcha></app-recapcha>
                                </div>
                                <div>
                                    <p class="error"> {{cap_result}}</p>
                                </div>
                                <div>
                                    <button >Submit</button>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-usd tools-heading"></i>
                    </a>
                    <a routerLink="." class="tools-heading">TDSP RATES</a>
                </ng-template>
                <h1 style="margin-bottom: 40px;" class="col-lg-12 col-md-12 col-sm-12">TDSP DELIVERY CHARGES</h1>
                <div style="margin-bottom: 50px;" class="row tdsp-rates">
                    <div *ngFor="let tdsp of tdsps" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="row innner">
                            <h3 class="tdsp-heading col-lg-12 col-md-12 col-sm-12">{{tdsp.utility_id__nick_name}}</h3>
                            <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input matInput placeholder="Charges per Month" [value]="'$'+tdsp.per_month" disabled>
                            </mat-form-field>
                            <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input matInput placeholder="Charges per kWh" [value]="tdsp.per_kwh+'¢'" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-usd tools-heading"></i>
                    </a>
                    <a routerLink="." class="tools-heading">HISTORICAL PRICES</a>
                </ng-template>
                <div class="row">
                    <h1 class="col-lg-12 col-md-12 col-sm-12">HISTORICAL PRICES</h1>
                    <p class="col-lg-12 col-md-12 col-sm-12 margin-top">The prices above reflect an average usage of 1,000 kWh per month. Each plan’s pricing represents an aggregate of pricing for that product offered to the market during the time period specified and should not be used to predict future
                        pricing. Please see the Electricity Facts Label for each product other pricing information. Your average price for electricity service will vary according to your usage.</p>
                    <div style="display: flex; justify-content: space-evenly; margin-bottom: 20px; margin-top: -15px;" class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <div class="historical-bar">
                            <button (click)="planTable()"  class="helpbutton">Our M2M Plan</button>
                        </div>
                        <div class="historical-bar">
                            <button (click)="plansTable()"  class="helpbutton">Advantage Prime 12</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="OurPlans">
                    <mat-table #table [dataSource]="priceSource" class="mat-elevation-z2">
                        <ng-container matColumnDef="year">
                            <mat-header-cell *matHeaderCellDef>Month/Year</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.month}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="centerpoint">
                            <mat-header-cell *matHeaderCellDef>Centerpoint</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.centerpoint}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="oncor">
                            <mat-header-cell *matHeaderCellDef> Oncor </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.oncor}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="aep_central">
                            <mat-header-cell *matHeaderCellDef>AEP Central</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.aep_central}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="aep_north">
                            <mat-header-cell *matHeaderCellDef>AEP North</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.aep_north}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="tnmp">
                            <mat-header-cell *matHeaderCellDef>TNMP</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.tnmp}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="priceColumns" color="primary"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: priceColumns;" (click)="onRowClicked(row)"></mat-row>
                    </mat-table>
                </div>
                <div *ngIf="OurPlan">
                    <mat-table #table [dataSource]="priceSources" class="mat-elevation-z2">
                        <ng-container matColumnDef="month">
                            <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.month}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="priceColumn" color="primary"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: priceColumn;"></mat-row>
                    </mat-table>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-bar-chart-o tools-heading"></i>
                    </a>
                    <a routerLink="." class="tools-heading">TEXAS MOVING SOLUTIONS</a>
                </ng-template>
                <div class="col-lg-6 col-md-6 col-sm-12 margin-top" style="padding-bottom: 40px">
                    <h1>TEXAS MOVING SOLUTIONS</h1>
                    <h2 class="margin margin-top">SAME DAY MOVE INS</h2>
                    <p>Are you planning on moving to Texas or moving your place of residence or business within Texas?&nbsp; No problem!&nbsp; There is no need to wait to sign up with any of the various excellent OUR Energy plans until after your move.&nbsp;
                        Sign up now, move tomorrow and we’ll make it easy!</p>
                    <p style="    margin-bottom: 45px;">Whether you’re looking for energy companies in Houston, electric companies in Dallas or&nbsp;Fort Worth electric companies we’ll make your move a breeze! We offer same day move ins as well as out of cycle switches.</p>
                    <button routerLink=""  class="helpbutton" routerLink="/contact">
            <i class="fa fa-truck icon-large"></i>
            Questions About Switching? Contact Us!
          </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 margin-top">
                    <div class="">
                        <img width="100%" src="" data-lazy-type="image" data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg" class="lazy vc_single_image-img attachment-full lazy-loaded" alt="" data-lazy-srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 700w,https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 300w"
                            data-lazy-sizes="(max-width: 700px) 100vw, 700px" srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 700w, https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 300w" sizes="(max-width: 700px) 100vw, 700px">
                        <noscript>
              <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg" class="vc_single_image-img attachment-full"
                alt="" srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 700w, https://storage.wattcrm.com/wattcrm-images/pics/help/samedayMove.jpg 300w"
                sizes="(max-width: 700px) 100vw, 700px" />
            </noscript>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-credit-card tools-heading"></i>
                    </a>
                    <a class="tools-heading">PAYMENT SOLUTIONS</a>
                </ng-template>

                <div class="col-lg-6 col-md-6 col-sm-12" style="padding-bottom: 40px">
                    <h1>REVIEW, MONITOR AND PAY YOUR BILLS</h1>
                    <p>OUR Energy online portal provides a convenient way to access your account information. Bill Payments, Usage, Historical Data and all other important information is just few clicks away.</p>
                    <ul class="padding-zero">
                        <li>– Using our online portal you can:</li>
                        <li>– Pay bills online by using Visa, Master or Discover.</li>
                        <li>– View your current and previous bills.</li>
                        <li>– Review your previous usage history and payment history.</li>
                        <li>– Download PDF copies of all your previous and current bills.</li>
                        <li>– and a lot more.</li>
                    </ul>
                    <p>
                        <button class="helpbutton"  routerLink="/login">Sign in to online portal | Register</button>
                    </p>
                    <div class="">
                        <img width="90" height="72" src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" data-lazy-type="image" data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" class="lazy vc_single_image-img attachment-full lazy-loaded"
                            alt="">
                        <noscript>
              <img width="90" height="72" src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" class="vc_single_image-img attachment-full"
                alt="" />
            </noscript>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 margin-top">
                    <div class="">
                        <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg" data-lazy-type="image" data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg" class="lazy vc_single_image-img attachment-full lazy-loaded"
                            alt="Our Energy Texas Electricity" data-lazy-srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg 700w,https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg 300w" data-lazy-sizes="(max-width: 700px) 100vw, 700px"
                            srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg 700w, https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg 300w" sizes="(max-width: 700px) 100vw, 700px">
                        <noscript>
              <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg" class="vc_single_image-img attachment-full"
                alt="Our Energy Texas Electricity" srcset="https://storage.wattcrm.com/wattcrm-images/pics/help/payyourbillop.jpg 300w"
                sizes="(max-width: 700px) 100vw, 700px" />
            </noscript>
                    </div>
                </div>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a class="icons">
                        <i class="fa fa-slideshare tools-heading"></i>
                    </a>
                    <a class="tools-heading">UNDERSTAND YOUR BILL</a>
                </ng-template>
                <div class="modalBill" style="text-align: center">

                    <img src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg" data-lazy-type="image" data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg" width="576" height="745">
                    <noscript>
            <img  src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg"
              width="576" height="745" />
          </noscript>
                    <button id="btnBill1" type="button" data-toggle="popover" title="This section contain your account details">1</button>
                    <button id="btnBill2" type="button" data-toggle="popover" title="This section contain your utility provider and Our Energy details">2</button>
                    <button id="btnBill3" type="button" data-toggle="popover" title="This section contain your billing and payment details">3</button>
                    <button id="btnBill4" type="button" data-toggle="popover" title="This section contain your address details">4</button>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <a routerLink="." class="icons">
                        <i class="fa fa-file tools-heading"></i>
                    </a>
                    <a routerLink="." class="tools-heading">DOWNLOAD FORMS</a>
                </ng-template>
                <h1 class="col-lg-12 col-md-12 col-sm-12">DOWNLOAD FORMS</h1>
                <div class="col-lg-12 col-md-12 col-sm-12 helpForm">
                    <h4>ACH FORM:</h4>
                    <p>Download this form to setup Auto Payment using your bank account information.</p>
                    <ul class="padding-zero">
                        <li>
                            <button  class="helpbutton"><a href="https://ourenergyllc.com/wp-content/uploads/bsk-pdf-manager/2_2_1_ACHFORM.PDF" target="_blank">Download Form</a></button>
                        </li>
                    </ul>
                    <h4>Account Closing Form:</h4>
                    <p>Use this form to close your account with Our Energy.</p>
                    <ul class="padding-zero">
                        <li>
                            <button  class="helpbutton"><a href="https://ourenergyllc.com/wp-content/uploads/bsk-pdf-manager/1_1_2_ACF.PDF" target="_blank">Download Form</a></button>
                        </li>
                    </ul>
                    <p>All documents are in PDF format. You can download free copy of Adobe PDF Reader from following link.&nbsp;
                        <a class="nonblock" href="https://get.adobe.com/reader/?promoid=BUIGO" target="_blank">
                            <span id="u862-3">Adobe Read</span>
                        </a>
                    </p>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>  -->

<!-- ...............New Layout.................. -->
<div class="container-fluid con-helpTools">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>HELP</h1>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid padding-30">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <nav class="nav-sidebar">
        <ul class="nav tabs help-sidebar">
          <li class="active"><a href="#faqs" data-toggle="tab">FAQ'S</a></li>
          <li class=""><a href="#TDSP" data-toggle="tab">TDSP RATES</a></li>
          <li class=""><a href="#HISTORICAL" data-toggle="tab">HISTORICAL PRICES</a></li>
          <li class=""><a href="#SOLUTIONS" data-toggle="tab">TEXAS MOVING SOLUTIONS</a></li>
          <li class=""><a href="#PAYMENT_SOLUTIONS" data-toggle="tab">PAYMENT SOLUTIONS</a></li>
          <li class=""><a href="#UNDERSTAND_BILL" data-toggle="tab">UNDERSTAND YOUR BILL</a></li>
          <li class=""><a href="#DOWNLOAD_FORMS" data-toggle="tab">DOWNLOAD FORMS</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="tab-content">
        <div class="tab-pane active  text-style" id="faqs">
          <h1 style="font-size: 31px;">FAQ's</h1>
          <p>Thank you for visiting the Our Energy Frequently Asked Questions section. We always advise that you drop by
            and browse the questions as we update them on a regular basis. We hope that you find the answer to your
            questions here. If your
            question is not listed, please feel free to use the Ask Our Energy form below. We will be happy to review
            your question and get back to you within twenty four hours.</p>
          <section class="faqs_home">
            <!-- <h3 class="heading_s">Frequently Asked Questions</h3> -->
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a> Who is Our Energy?</a>
                    <!-- <i class="eye-splash" (click)="hide = !hide" class=" {{hide ? 'fa fa-angle-down' : 'fa fa-angle-up'}}"></i> -->
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>OUR Energy is a Retail Electric Provider (REP) which is Licensed to operate in Texas in the
                      Retail Energy Market, we are in process of expanding our operations in Retail Electricity and Gas
                      Markets in New York and Illinois.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a> What is the difference between a Retail Electricity Provider (REP) and a utility company
                      (TDSP)?</a>

                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>With electricity market deregulation, you have a choice of who is your retail electric provider.
                      Retail electric providers provide you with an energy price, electric bill and customer service.
                      The local utility company (TDSP) maintains
                      the poles and wires in your community. Because of electricity market deregulation, Customers have
                      a choice in retail electric providers. So, when you switch retail electric providers for the same
                      residence or business location,
                      you should experience no change in the reliability of your service. Your local utility company
                      (TDSP) will continue to read your meter and will continue to maintain the poles and wires. And you
                      will continue to call your local
                      utility company (TDSP) in the event of an outage. If you change locations within the state, your
                      local utility company (TDSP) may change.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a> Is OUR Energy certified as a Retail Electricity Provider? </a>

                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Yes, the Public Utility Commission for the State of Texas puts every REP through a rigid and
                      strict process of certification. OUR Energy has met the requirements for financial, managerial and
                      technical abilities for the privilege
                      of selling energy in Texas (PUC Certificate Number 10170).</p>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a>Why would I choose OUR Energy? </a>

                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Honesty, Integrity and Loyalty. As a Retail Electric provider we will make sure that you THE
                      Customer is treated as a part of OUR Energy Family, we will make sure your issues or concerns are
                      addressed and as much as it is possible
                      it should always be a one call resolution.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a> How will OUR Energy be better than any other REP? </a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>With proper Risk management, competitive prices and customer service above all others we will
                      make sure that we always tailor to you THE CUSTOMER’S needs.</p>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a> What happens if my REP (Retail Electric Provider) goes out of business? </a>

                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>You will not lose POWER. You will receive a notice from the provider giving you time to select
                      your new provider, usually it is a 30 Day Notice. If a customer does not choose a new provider
                      during that time, you will be assigned
                      to a “Provider of Last Resort,” which is an assigned back-up electricity provider. (Texas
                      Administrative Code §25.43(a)(2)).
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a>
                      What are OUR Energy hours of operations for Customer Service?
                    </a>

                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>OUR Energy will be available from 8:30 AM to 6 PM over the phone (1888-5454-OUR) , fax
                      (281-715-5767) or by email customerservice@ourenergyllc.com
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                  <h4 class="panel-title">
                      <i class=" fa fa-plus-square" ></i>
                    <a>
                      What Should I do if there is a Power Outage?
                    </a>

                  </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>For information about power outages, please contact your (local utility) Transmission and
                      Distribution Service Provider.
                    </p>
                    <p>AEP Texas Central (866) 223-8508</p>
                    <p>AEP Texas North (866) 223-8508</p>
                    <p>CenterPoint Energy (800) 332-7143</p>
                    <p>Sharyland Utilities (956) 668-9551</p>
                    <p>TNMP (Texas-New Mexico Power Company) (888) 866-7456</p>
                    <p>Oncor (formerly TXU Electric Delivery Company) (888) 313-4747</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane text-style" id="TDSP">
          <h1 style="margin-bottom: 40px;" class="col-lg-12 col-md-12 col-sm-12">TDSP DELIVERY CHARGES</h1>
          <div style="margin-bottom: 50px;" class="row tdsp-rates">
            <div *ngFor="let tdsp of tdsps" class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <div class="row innner">
                <h3 class="tdsp-heading col-lg-12 col-md-12 col-sm-12">{{tdsp.utility_id__nick_name}}</h3>
                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input matInput placeholder="Charges per Month" [value]="'$'+tdsp.per_month" disabled>
                </mat-form-field>
                <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <input matInput placeholder="Charges per kWh" [value]="tdsp.per_kwh+'¢'" disabled>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane text-style" id="HISTORICAL">
          <h1 class="col-lg-12 col-md-12 col-sm-12">HISTORICAL PRICES</h1>
          <p class="col-lg-12 col-md-12 col-sm-12 margin-top">The prices above reflect an average usage of 1,000 kWh per
            month. Each plan’s pricing represents an aggregate of pricing for that product offered to the market during
            the time period specified and should not be used to predict future
            pricing. Please see the Electricity Facts Label for each product other pricing information. Your average
            price for electricity service will vary according to your usage.</p>
          <div style="display: flex; justify-content: space-evenly; margin-bottom: 20px; margin-top: -15px;"
            class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="historical-bar">
              <button (click)="planTable()" class="helpbutton">Our M2M Plan</button>
            </div>
            <div class="historical-bar">
              <button (click)="plansTable()" class="helpbutton">Advantage Prime 12</button>
            </div>
          </div>
        </div>
        <div class="tab-pane text-style" id="SOLUTIONS">
          <h1>TEXAS MOVING SOLUTIONS</h1>
          <h2 class="margin margin-top">SAME DAY MOVE INS</h2>
          <p>Are you planning on moving to Texas or moving your place of residence or business within Texas?&nbsp; No
            problem!&nbsp; There is no need to wait to sign up with any of the various excellent OUR Energy plans until
            after your move.&nbsp;
            Sign up now, move tomorrow and we’ll make it easy!</p>
          <p style="    margin-bottom: 45px;">Whether you’re looking for energy companies in Houston, electric companies
            in Dallas or&nbsp;Fort Worth electric companies we’ll make your move a breeze! We offer same day move ins as
            well as out of cycle switches.</p>
          <button routerLink="" class="helpbutton" routerLink="/contact">
            <i class="fa fa-truck icon-large"></i>
            Questions About Switching? Contact Us!
          </button>
        </div>
        <div class="tab-pane text-style" id="PAYMENT_SOLUTIONS">
          <h1>REVIEW, MONITOR AND PAY YOUR BILLS</h1>
          <p>OUR Energy online portal provides a convenient way to access your account information. Bill Payments,
            Usage, Historical Data and all other important information is just few clicks away.</p>
          <ul class="padding-zero">
            <li> Using our online portal you can:</li>
            <li>Pay bills online by using Visa, Master or Discover.</li>
            <li>View your current and previous bills.</li>
            <li>Review your previous usage history and payment history.</li>
            <li>Download PDF copies of all your previous and current bills.</li>
            <!-- <li>– and a lot more.</li> -->
          </ul>
          <p>
            <button class="helpbutton" routerLink="/login">Sign in to online portal | Register</button>
            <img width="90" height="72" src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png"
              data-lazy-type="image"
              data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png"
              class="lazy vc_single_image-img attachment-full lazy-loaded" style="float: right;" alt="">
            <noscript>
              <img width="90" height="72" style="float: right;"
                src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png"
                class="vc_single_image-img attachment-full" alt="" />
            </noscript>
          </p>
          <!-- <div class="">
                          <img width="90" height="72" src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" data-lazy-type="image" data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" class="lazy vc_single_image-img attachment-full lazy-loaded"
                              alt="">
                          <noscript>
                <img width="90" height="72" src="https://storage.wattcrm.com/wattcrm-images/pics/img/secure/secure90x72.png" class="vc_single_image-img attachment-full"
                  alt="" />
              </noscript>
                      </div> -->
        </div>
        <div class="tab-pane text-style" id="UNDERSTAND_BILL">
          <img src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg"
            data-lazy-type="image"
            data-lazy-src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg"
            width="576" height="745">
          <noscript>
            <img src="https://storage.wattcrm.com/wattcrm-images/pics/help/Sample-Bill-Residential1.jpg" width="576"
              height="745" />
          </noscript>
          <button id="btnBill1" type="button" data-toggle="popover"
            title="This section contain your account details">1</button>
          <button id="btnBill2" type="button" data-toggle="popover"
            title="This section contain your utility provider and Our Energy details">2</button>
          <button id="btnBill3" type="button" data-toggle="popover"
            title="This section contain your billing and payment details">3</button>
          <button id="btnBill4" type="button" data-toggle="popover"
            title="This section contain your address details">4</button>
        </div>
        <div class="tab-pane text-style" id="DOWNLOAD_FORMS">
          <h1 class="col-lg-12 col-md-12 col-sm-12">DOWNLOAD FORMS</h1>
          <div class="col-lg-12 col-md-12 col-sm-12 helpForm">
            <h4>ACH FORM:</h4>
            <p>Download this form to setup Auto Payment using your bank account information.</p>
            <ul class="padding-zero btns-list">
              <li>
                <a class="btn" href="https://ourenergyllc.com/wp-content/uploads/bsk-pdf-manager/2_2_1_ACHFORM.PDF"
                  target="_blank">Download Form</a>
              </li>
            </ul>
            <h4>Account Closing Form:</h4>
            <p>Use this form to close your account with Our Energy.</p>
            <ul class="padding-zero btns-list">
              <li>

                <a class="btn" href="https://ourenergyllc.com/wp-content/uploads/bsk-pdf-manager/1_1_2_ACF.PDF"
                  target="_blank">
                  Download Form</a>

              </li>
            </ul>
            <p>All documents are in PDF format. You can download free copy of Adobe PDF Reader from following
              link.&nbsp;
              <a class="nonblock" href="https://get.adobe.com/reader/?promoid=BUIGO" target="_blank">
                <span id="u862-3">Adobe Read</span>
              </a>
            </p>
          </div>
        </div>
        <!-- end tab content -->
      </div>
    </div>
  </div>
</section>