<div class="main-content">
    <div class="container-fluid container">
        <section class="residential-main">
          <div class="row">
              <div class="col-sm-12">
                  <h3 class="text-center">Quality & Affordable Residential Plans</h3>
                  <p>
                      We offer a broad range of competitively priced electricity plans designed to meet your needs. Our Energy provides residential power to communities throughout Texas. We provide customers with affordable electricity plans including renewable energy plans.
                  </p>
                </div>
                <div class="text-center pd-10">
                  <button class="btn">
                      Search for energy plans
                  </button>

                </div>
            
                <div class="col-sm-12">
                    <h3 class="text-center">Same Day Move-in</h3>
                    <p>
                        Whether you’re looking for electricity providers Houston, electric companies in Dallas or Fort Worth electric companies we’ll make your move a breeze! We offer same day move in’s as well as out of cycle switches.
                    </p>
                </div>
          </div>
            <div class="heading">
                <h3>Our Energy Residential Electricity</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="residential-tabs" (click)="tab1()">
                        <img src="https://storage.wattcrm.com/wattcrm-images/pics/Residential/NewCustomer.jpg" width="300px" class="pics">
                        <mat-card-title>New Customer</mat-card-title>
                        <p style="text-align: center;"> We encourage you to compare electricity rates and service levels.
                            <span> Make the switch now.</span> You’ll never look back!</p>
                        <button  routerLink="/search-plan" class="btn">FIND YOUR PLAN</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="residential-tabs" (click)="tab2()">
                        <img src="https://storage.wattcrm.com/wattcrm-images/pics/Residential/RenewResidentialOP.jpg" width="300px" class="pics">
                        <mat-card-title>Renew Residential</mat-card-title>
                        <p style="text-align: center;">
                            <span> Welcome back!</span> It’s our privilege to continue providing you with the most affordable Texas electricity rates with the premium service that you deserve.</p>
                        <button  routerLink="/login" class="btn">RENEW YOUR SERVICE</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="residential-tabs" (click)="tab3()">
                        <img src="https://storage.wattcrm.com/wattcrm-images/pics/Residential/payyourbillop1.jpg" width="300px" class="pics">
                        <mat-card-title>Pay Your Bill</mat-card-title>
                        <p style="text-align: center;">
                            <span>Safe. Secure. Hassle Free.</span> This will not interrupt your busy schedule. You’ll you wish that everything was just as easy!</p>
                        <button  routerLink="/login" class="btn">PAY ONLINE NOW</button>
                    </div>
                </div>
            </div>
            <div class="residential-two">
                <mat-card class="residential-tabs" *ngIf="tabOne">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
                            <img class="width-full" src="https://storage.wattcrm.com/wattcrm-images/pics/Residential/NewCustomer.jpg">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
                            <p>Are you tired of run of the mill energy providers in Texas? Make the switch now. You’ll never look back!
                            </p>
                            <p>
                                <span> We encourage you to compare electricity rates and service levels.</span> Other power and light companies just don’t measure up to the OUR Energy llc high quality standards. Act now and take advantage of our affordable
                                residential electricity prices. Your ideal Texas energy plan is only a click away!
                            </p>
                            <p>
                                <span> You have the Power to Choose Texas! Make the Right Choice Today!</span>
                            </p>
                            <button  class="btn1" routerLink="/search-plan">SIGN UP TODAY!
                            </button>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="residential-tabs" *ngIf="tabTwo">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
                            <img class="width-full" src="https://storage.wattcrm.com/wattcrm-images/pics/Residential/RenewResidentialOP.jpg">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
                            <p>
                                <span> Welcome back!</span> It’s our privilege to continue providing you with the most affordable Texas electricity rates with the premium service that you deserve. It’s not just about our select energy services. We are
                                all about personalized attention and premium extras. At Our Energy LLC, we constantly seek out new ways to better serve you. We promise to set ourselves apart from the usual humdrum of traditional electric providers.
                            </p>
                            <p> You have entrusted us with the essential task of providing your home with electrical energy. For this reason, we’ve made it our mission to go above and beyond your expectations of a quality electric company. As a member of
                                the Our Energy family, you are invited to partake in our exclusive
                                <span>Member specials.</span> <a routerLink="/special">Check them out today!</a>
                            </p>
                            <p>Have a question about your local Texas electric rates? Do you have any suggestions on how we can improve our TX energy service?
                                <span>We welcome and encourage your questions and valuable customer feedback.</span> Please feel free to
                                <a routerLink="/contact"> contact our friendly support team.</a> It is our pleasure to serve you. You have the Power to Choose Texas! Make the Right Choice Today!
                            </p>
                            <button  routerLink="/login" class="btn1">RENEW TODAY!</button>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="residential-tabs" *ngIf="tabThree">
                    <p>
                        <span>Safe. Secure. Hassle Free.</span>
                    </p>
                    <p> This will not interrupt your busy schedule. You’ll you wish that everything was just as easy</p>
                    <button  routerLink="/login" class="btn1">PAY ONLINE NOW</button>
                </mat-card>

            </div>
        </section>
    </div>
</div>
<div class="member-special">
    <div class="container">
        <h3 class="title">Member Special</h3>
        <p>Sign Up Today And Take Advantage Of The Latest And Greatest Our Energy Member Specials!
               <br> You'll Find Raffles, Freebies, Credit Giveaways And More!</p>
        <button class="btn btn-warning btn-lg" routerLink="/special">GO NOW!
        </button>


        <div class="count-on">
            <h3 class="title text-center">You Can Count On Our Energy</h3>
            <div class="row">
              <div class="col-sm-4">
                <div class="holder" data-toggle="collapse" data-target="#demo">
                  <i class="fa fa-calculator" aria-hidden="true"></i>
                  <h4>save money</h4>
                  <p>Better service at better price</p>
                  <div id="demo" class="collapse">
                    <p>
                      <strong>Our commitment is to supply our customers with reliable and dependable energy at a competitive
                        rate.</strong>
                    </p>
                    <p>We take all of the guesswork out of how to save money on your power bill. Our energy market analysts
                      negotiate and pre-purchase massive volumes of electricity enabling us to pass along the energy savings
                      to you. REAL-TIME
                      rates and pricing means real savings for you. At OUR Energy we provide customized pricing solutions
                      tailored to meet your individual needs.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="holder" data-toggle="collapse" data-target="#demo1">
                  <i class="fa fa-scissors" aria-hidden="true"></i>
                  <h4>hassle free</h4>
        
                  <p>Cut through all of the red tape!</p>
                  <div id="demo1" class="collapse">
                    <p>
                      <strong>At OUR Energy, we are always looking for new ways to help make your life easier.</strong>
                    </p>
                    <p>We understand that time is money, which is why we offer same day move-ins and out-of-cycle switches.
                      Manage all aspects of your energy service very easily online through your
                      <a routerLink="/login">My Account</a> portal. Visit our website regularly to take advantage of a
                      wealth of information such as
                      <a routerLink="/energy-saving">energy saving tips</a>, industry updates as well as an intuitive
                      <a routerLink="/help">Help Center</a>. We simplify the complex energy market to make it easier for
                      you.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="holder" data-toggle="collapse" data-target="#demo2">
                  <i class="material-icons">wb_sunny</i>
                  <h4>quality services</h4>
                  <p>Total quality care specialists</p>
                  <div id="demo2" class="collapse">
                    <p>
                      <strong>Building solid, long lasting relationships one customer at a time is the focus of the OUR
                        Energy Team.</strong>
                    </p>
                    <p>We incorporate quality into every aspect of our business through our intuitive account management
                      system, fully scalable and customizable
                      <a routerLink="/residential">residential</a> and
                      <a routerLink="/commercial">commercial</a> power services, as well as your personal Customer Care
                      Specialist to cater to your individual needs. Experience first hand how we stand out from all other
                      Texas energy companies!</p>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
    </div>
</div>
