<div class="container-fluid con-cumunity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Specials</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding-top-bottom">
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <img src="https://storage.wattcrm.com/wattcrm-images/pics/special/MOneySpecials1.jpg" class="width-full">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h2 class="sub-heading">OUR ENERGY MEMBER SPECIALS</h2>
            <p class="energy-tips-detail">
                Now that you have compared electricity rates and service levels, here’s yet another reason to
                <a routerLink="/plan" class="linkable">signup</a> with OUR Energy LLC. If you are looking for the finest electric companies in Texas, OUR Energy gives you more!
            </p>
            <p class="energy-tips-detail">
                Get in on all of the cash saving fun! Keep a watchful eye on our Specials so they don’t get away. At OUR Energy we love to reward our loyal members with promotions such as: on the spot specials, weekly, monthly and more! It’s just one of our many ways
                of saying, “Thanks Y’all!”
            </p>
            <h2 class="sub-heading">I WANT IN! HOW DO I PARTICIPATE?</h2>
            <p class="energy-tips-detail">
                You don’t want to miss out! Make sure you click LIKE or FOLLOW our Social Media pages. This way you’ll keep up to date on the latest contests, raffles and giveaways. If you are looking for more than your usual energy providers in Texas, OUR Energy gives
                you more bang for your buck!
            </p>
        </div>
    </div>
    <div class="row padding-top-bottom">
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <h2 class="sub-heading">OUR ENERGY NO LIMIT REFER A FRIEND SPECIAL!</h2>
            <p class="energy-tips-detail">
                What could we do to top off our excellent customer service and super low prices? You have a ticket to the No Limit Refer a Friend Table!
            </p>
            <h2 class="sub-heading">HOW DOES AN EXTRA $500 SOUND?</h2>
            <p class="energy-tips-detail">
                You could get this and much more! There’s NO LIMIT!
                <br> Enter the OUR Energy Refer a Friend Special and receive Unlimited Member Credits ($25, $100, $100, $500, or more!)
                <br> Plus, your friends that you refer will all receive FREE Signup Credits as well!
            </p>
            <div class="text-right width-full">
                <a routerLink="/no-limit-refer-a-friend" class="btn-refer">
                    <i class="fa fa-location-arrow"></i> HURRY AND START REFERRING TODAY!
                </a>
            </div>
            <a routerLink="/no-limit-refer-a-friend" class="linkable d-block text-right font-style">
        CLICK HERE For Additional Contest Details and Rules.
      </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
            <img class="width-full" src="https://storage.wattcrm.com/wattcrm-images/pics/special/Referafriend_FacebookInvitebox_Lasso2_WEBSITE_LArger.jpg">
        </div>
    </div>

</div>
<section class="special-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>THIS IS YOUR LUCKY DAY! </h2>
                <p>We’ll keep you glued to your screen and on the edge of your seat for the next riveting special! There’s something for everyone at Our Energy.</p>
                <h2>HAVE YOU LIKED OUR FACEBOOK PAGE YET?</h2>
                <p> Oodles of fun and surprises are headed your way!</p>
                <p>Not an Our Energy customer yet? Sign up now and look out! Sweet deals on cheap electricity or Cool Free Stuff may follow…</p>
                <iframe src="//www.facebook.com/plugins/like.php?href=https://www.ourenergyllc.com/specials/&amp;layout=standard&amp;show_faces=false&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="container community">
    <h3>CHECK OUT OUR LATEST TEXAS COMMUNITY OUTREACH PROGRAMS</h3>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <a class="tools-heading">All</a>
            </ng-template>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/ourlife/Rev-Mothers-Day-SpecialRaffle-OURENERGY-041-1024x536.jpg" alt="Free-Mother's-Day-Spa-Treatment-Raffle-Featured-Image">
                    <div class="" style="padding: 20px;">
                        <h4 style="text-align: left">Free Mother’s Day Spa Treatment Raffle – Valued at $300</h4>
                        <p style="text-align: left" class="margin">Enter the Free Mother's Day Spa Treatment Raffle In order to show our gratitude for being a loyal www.OurEnergyllc Customer, you are invited to partake in a Free Mother's Day Spa Treatment Raffle, sponsored by the finest Residential
                            and Business Texas Electricity Company, Our Energy. There is No Purchase Necessary in order to participate! What's [...]</p>
                        <a routerLink="/ourlife/free-mothers-day-spa-treatment-raffle-valued-at-300" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/MMP-Blog-1024x536.jpg" alt="March Madness Party">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">March Madness Party</h4>
                        <a routerLink="/Our-blogs/march-madness-part" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/Valantine-day-OurEnergy-Blog-1024x536.jpg" alt="ValantinesDiner-Banner">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">FEBRUARY SHARE THE LOVE RAFFLE</h4>
                        <a routerLink="/Our-blogs/february-share-the-love-raffle" class="comunity-read-more margin-top" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <a class="tools-heading">Our Community</a>
            </ng-template>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/ourlife/Rev-Mothers-Day-SpecialRaffle-OURENERGY-041-1024x536.jpg" alt="Free-Mother's-Day-Spa-Treatment-Raffle-Featured-Image">
                    <div class="" style="padding: 20px;">
                        <h4 style="text-align: left">Free Mother’s Day Spa Treatment Raffle – Valued at $300</h4>
                        <p style="text-align: left" class="margin">Enter the Free Mother's Day Spa Treatment Raffle In order to show our gratitude for being a loyal www.OurEnergyllc Customer, you are invited to partake in a Free Mother's Day Spa Treatment Raffle, sponsored by the finest Residential
                            and Business Texas Electricity Company, Our Energy. There is No Purchase Necessary in order to participate! What's [...]</p>
                        <a routerLink="/ourlife/free-mothers-day-spa-treatment-raffle-valued-at-300" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/MMP-Blog-1024x536.jpg" alt="March Madness Party">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">March Madness Party</h4>
                        <a routerLink="/Our-blogs/march-madness-part" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/Valantine-day-OurEnergy-Blog-1024x536.jpg" alt="ValantinesDiner-Banner">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">FEBRUARY SHARE THE LOVE RAFFLE</h4>
                        <a routerLink="/Our-blogs/february-share-the-love-raffle" class="comunity-read-more margin-top" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <a class="tools-heading">Our Energy Buzz</a>
            </ng-template>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/ourlife/Rev-Mothers-Day-SpecialRaffle-OURENERGY-041-1024x536.jpg" alt="Free-Mother's-Day-Spa-Treatment-Raffle-Featured-Image">
                    <div class="" style="padding: 20px;">
                        <h4 style="text-align: left">Free Mother’s Day Spa Treatment Raffle – Valued at $300</h4>
                        <p style="text-align: left" class="margin">Enter the Free Mother's Day Spa Treatment Raffle In order to show our gratitude for being a loyal www.OurEnergyllc Customer, you are invited to partake in a Free Mother's Day Spa Treatment Raffle, sponsored by the finest Residential
                            and Business Texas Electricity Company, Our Energy. There is No Purchase Necessary in order to participate! What's [...]</p>
                        <a routerLink="/ourlife/free-mothers-day-spa-treatment-raffle-valued-at-300" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/MMP-Blog-1024x536.jpg" alt="March Madness Party">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">March Madness Party</h4>
                        <a routerLink="/Our-blogs/march-madness-part" class="comunity-read-more" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="community-tab">
                    <img width="100%" src="https://storage.wattcrm.com/wattcrm-images/pics/special/Valantine-day-OurEnergy-Blog-1024x536.jpg" alt="ValantinesDiner-Banner">
                    <div class="" style="padding: 20px;">
                        <h4 class="margin" style="text-align: left">FEBRUARY SHARE THE LOVE RAFFLE</h4>
                        <a routerLink="/Our-blogs/february-share-the-love-raffle" class="comunity-read-more margin-top" title="Read more" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>
<div class="member-special">
    <div class="container">
        <h3 class="title">SUPERIOR QUALITY TEXAS ELECTRICITY IS NOW AFFORDABLE!</h3>
        <p>VIEW OUR EXCELLENT RESIDENTIAL OR COMMERCIAL PLANS TODAY!</p>
        <button class="btn btn-warning btn-lg" routerLink="/plan">VIEW PLANS
    </button>
    </div>
</div>