
<div class="container">
    <div class="Confirmation">
        <div class="text-center">
            <i style="color:green" class="fa fa-check fa-5x"></i>
            <h1>Thanks!</h1>
            <h4>Your service request has been received</h4>
        </div>
        <div class="row pt-50">
          <div class="col-sm-6">
              <p class="content">Thank you for submitting your enrollment application! Your Enrollment reference ID is:
                  <b style="display: inline; font-size: 18px;">{{response?.message?.use_cust_id}}</b>.</p>
              <p class="content" *ngIf="response?.message_color == 'red'" style="color: #cd0000; font-size: bold">
                  {{response?.show_message}}
              </p>
              <p class="content" *ngIf="response?.message_color == 'black'" style="font-size: bold">
                  {{response?.show_message}}
              </p>
              <p class="content">
                  Please print a copy of this page for your records.
              </p>
              <p class="content">
                  We will be sending you a final confirmation email with your account number & contract information. In this email you will also receive a link to view your contract documents electronically. These documents include the Terms of Service (TOS), Your Rights
                  As A Customer (YRAC) & Electricity Facts Label (EFL).
              </p>
              <p class="content">
                  If you are required to submit additional documents or have not made the required payment, please note that your enrollment will be pending until all requirements are complete. If you have any questions or need further assistance, please email or call
                  us.
              </p>
              <p class="content">
                  Once your account has been activated, you can visit our website to create an online account. Access your account online anytime! Instantly view your balance, payment history, & billing statements in real time and pay your monthly invoice in under a minute.
                  You can also enroll for Automatic Bill Payments and Paperless Billing so you never miss a payment.
              </p>
          </div>
          <!--  -->
          <div class="col-sm-6 text-center">
              <div>
                  <strong>
                      Have any questions?
                  </strong>
                  <p class="text-center text1">
                      Contact our Customer Support team
                  </p>
              </div>
              <hr>
              <div>
                  <p class="text-center text1">
                      If you do not receive the email,
                      <a style=" font-weight: bold;cursor: pointer" *ngIf="isBtnDisabled==true" (click)="verificationEmail()">
                          click here to resend the email
                      </a>
                      <a style=" font-weight: bold;color:#A9A9A9;" *ngIf="isBtnDisabled==false">
                          click here to resend the email
                      </a>
                  </p>
              </div>
              <hr>
              <div class="main text-center">
                  <p class="inner">
                      <strong>Toll Free </strong> 1-888-545-4687
                  </p>
              </div>
              <div class="main text-center">
                  <p class="inner">
                      <strong>Mailing Address</strong> 17154 Butte Creek Rd, Suite# 250. Houston, TX 77090
                  </p>
              </div>
              <div class="main text-center">
                  <p class="inner">
                      <strong>Email</strong> customerservice@ourenergyllc.com
                  </p>
              </div>
              <div class="main text-center">
                  <p class="inner">
                      <strong>Website</strong> <a target="_blank" href="https://ourenergyllc.wattcrm.com">OurEnergyLLC.com</a>
                  </p>
              </div>
              <!--  -->
              <h3 class="text-center">Download Now!</h3>
              <div class="text-center">
                  <a href="https://play.google.com/store/apps/details?id=com.brainplow.OurEnergythemeone" rel="noreferrer"
                  target="_blank">
                  <img src="../../assets/img/Adroid-Badge.png">
                </a>
                
                <a href="https://itunes.apple.com/us/app/our-energy/id1438707950?mt=8" rel="noreferrer" target="_blank">
                  <img src="../../assets/img/IOS-Badge.png">
                </a>
              </div>
            </div>
        </div>
    </div>

</div>