.EnterPasswordPopup {
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        justify-content: center;
        padding-bottom: 15px;
    }
    .buttons {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    mat-form-field {
        width: 100%;
    }
}