    mat-icon {
        color: #4d4747;
    }
    
    mat-form-field {
        font-size: 18.2px;
        font-weight: bold;
    }
    
    .title {
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 24px;
        margin-top: 0px;
    }
    
    mat-card-header mat-card-title {
        font-size: 27px;
        font-weight: bold;
            border-bottom: 4px solid #ff4270;
    }
    
    mat-radio-button {
        font-size: 20px;
        font-weight: bold;
    }
    .cust-info {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0px !important;
    }
  