<div>
    <form class="ValidationForm" autocomplete="off">
        <h3 style="margin-bottom:10px;" class="text-center">Change Password for {{Account.cust_id}}</h3>
        <mat-form-field>
            <input matInput placeholder="Admin password" [formControl]="password" type="password" required [type]="hide ? 'password' : 'text'">
            <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="New password" [formControl]="new_password" type="password" required [type]="hide ? 'password' : 'text'">
            <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="text-center">
            <button [disabled]="submitBtnStatus"  (click)="changePass()">Change</button>
            <button [disabled]="submitBtnStatus"  [mat-dialog-close]>Close</button>
        </div>
    </form>
</div>