<div class="col-container" *ngIf="billdetails">
    <div class="col mat-elevation-z5">
        <div class="infoBox">
            <span class="heading">
                Amount Due
            </span>
            <div class="details" *ngFor="let i of bills">
                <span class="price">{{(i.amount_due.toString())[0] == '-' ? '-$' + i.amount_due.toString().slice(1) : '$' + i.amount_due}}</span>
                <div>
                    <i class="material-icons">monetization_on</i>
                </div>
            </div>
            <span style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" *ngFor="let i of bills">
                <span style="font-size: 20px;" *ngIf="i.past_due > '0'">Past Due: <span style="color: #cd0000">{{(i.past_due.toString())[0] == '-' ? '-$' + i.past_due.toString().slice(1) : '$' + i.past_due}}</span></span>
            <button mat-button routerLink="/dashboard/paynow">Pay Now</button>
            </span>
        </div>
    </div>
    <div class="col mat-elevation-z5" *ngFor="let i of bills">
        <div class="infoBox">
            <span class="heading">Last Bill Amount</span>
            <div class="details">
                <span class="price">{{(i.last_bill_due_amount.toString())[0] == '-' ? '-$' + i.last_bill_due_amount.toString().slice(1) : '$' + i.last_bill_due_amount}}</span>
                <div>
                    <i class="material-icons">monetization_on</i>
                </div>
            </div>
            <span class="date">
                Due Date: {{i.last_bill_due_date}}
            </span>
        </div>
    </div>
    <div class="col mat-elevation-z5" *ngFor="let i of bills ">
        <div class="infoBox">
            <span class="heading">
                Last Paid Amount
            </span>
            <div class="details">
                <span class="price">{{(i.last_paid_amount.toString())[0] == '-' ? '-$' + i.last_paid_amount.toString().slice(1) : '$' + i.last_paid_amount}}</span>
                <div>
                    <i class="material-icons">monetization_on</i>
                </div>
            </div>
            <span class="date">
                Received on: {{i.last_payment_pay_date}}
            </span>
        </div>
    </div>
</div>