.mat-dialog-actions {
    justify-content: center;
}

h1 {
    text-align: center;
}

a {
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    font-size: 16px;
}

h3 {
    font-weight: bold;
}

.btn1 {
    background-color: #000;
    color: #fff;
    padding: 0px 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 25px;
}

.btn2 {
    background-color: #888;
    color: #fff;
    padding: 0px 25px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 25px;
}