<form [formGroup]="promoForm">
    <h3 class="text-center">Add Promotion Code</h3>
    <div class="row">
        <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input matInput placeholder="Promo Code" formControlName=promo_code>
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <input matInput placeholder="Name" formControlName=promo_name>
        </mat-form-field>
        <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <textarea matInput placeholder="Info" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName=promo_info></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <mat-select placeholder="Service Type" formControlName=service_type>
                <mat-option [value]="">--</mat-option>
                <mat-option *ngFor="let x of serviceType" [value]="x.value">
                    {{ x.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <input matInput placeholder="Campaign Name" formControlName=campaign_name>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <input matInput [max]="promoForm.controls.end_date.value" [matDatepicker]="picker2" placeholder="Start date" formControlName=start_date>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <!-- <mat-error *ngIf="productForm.controls.start_date.errors?.required"> Start Date is required </mat-error> -->
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <input matInput [min]="promoForm.controls.start_date.value" [matDatepicker]="picker1" placeholder="End date" formControlName=end_date>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <!-- <mat-error *ngIf="productForm.controls.end_date.errors?.required"> End Date is required </mat-error> -->
        </mat-form-field>
    </div>
</form>
<div class="text-center">
    <button [disabled]="isBtnDisabled" mat-raised-button (click)="submit()">Save</button>
    <button [disabled]="isBtnDisabled" mat-button [mat-dialog-close]>Cancel</button>
</div>