<div class="container-fluid">
    <div class="row">
        <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <input matInput placeholder="Search..." (keyup)="applyFilter($event.target.value)">
            <button (click)="openAddPromoDialog()" matSuffix mat-icon-button>
                <mat-icon style="font-size: 30px;" matTooltip="Add New Promo">add_box</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
<div class="header-paginator">
    <div class="topPaginator">
        <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[25,50]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
<div class="my">
    <div class="y">
        <mat-table #table [dataSource]="dataSource" class="abc">
            <ng-container matColumnDef="a">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openEditPromoDialog(element)">
                        <i matTooltip="Edit Promo" class="normalIcon material-icons">edit</i>
                    </button>
                    <!-- <button (click)="openDocument(element.path)" mat-icon-button matTooltip="View Document" target="_blank">
                        <i class="normalIcon material-icons">insert_drive_file</i>
                    </button> -->
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ps">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="changeStatus(element)" [disabled]="isStatusDisabled[element.promo_code]" matTooltip="Click to Deactivate" *ngIf="element.promo_status == 'A'">
                        <i class="successIcon material-icons">check</i>
                    </button>
                    <button mat-icon-button (click)="changeStatus(element)" [disabled]="isStatusDisabled[element.promo_code]" matTooltip="Click to Activate" *ngIf="element.promo_status == 'I'">
                        <i class="failureIcon material-icons">close</i>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pc">
                <mat-header-cell *matHeaderCellDef> Promo Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.promo_code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pn">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.promo_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pi">
                <mat-header-cell *matHeaderCellDef> Info </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.promo_info}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="st">
                <mat-header-cell *matHeaderCellDef> Service Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.service_type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cm">
                <mat-header-cell *matHeaderCellDef> Campaign Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.campaign_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sd">
                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.start_date | date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ed">
                <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.end_date | date}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
</div>