<div class="electricity-banner">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 banner ">
            <h1>Business Rates Electricity</h1>
            <div class="banner-link">
                <span>
            <a routerLink="">Home</a>
                    </span>
                <i>/</i>
                <span>
            <a routerLink="/business-rates-electricity">Business Rates Electricity  </a>
          </span>

            </div>
        </div>
    </div>
</div>
<mat-card class="container electricity">
    <h3> <b>BUSINESS RATES ELECTRICITY </b>EASY LOOKUP & SIGNUP TOOL</h3>
    <p><b> Save Time and Money! </b> Now you can find the business electricity plan of your choice and sign up for it digitally online! Find business rates electricity with our easy zip code search tool. Simply type in your zip code next to the plan of your
        choice, fill in all of the fields, sign with your mouse or track pad and submit it! You will receive a copy of the signed contract to the valid email that you provided when filling out the form. <b> Start Saving your Business Money Today!</b>
    </p>
    <div class="compare-rates">
        <div class="fix">
            <h1>4.59</h1>
        </div>
        <div class="center-body">
            <h4>AMAZING FIXED RATE SAVINGS FOR 12 MONTHS</h4>
            <div class="center-bodyinner">
                <div>
                    <h5>Available for a Limited Time Only!</h5>
                </div>
                <div> <img src="/assets/img/arrows.png" class="images"></div>
            </div>
        </div>
        <div class="center-body">
            <div class="corner-body">
                <form>
                    <mat-form-field>
                        <input matInput placeholder="ENTER ZIP CODE">
                    </mat-form-field>
                </form>
                <div><button >Grab it Today!</button>
                </div>
            </div>
            <div><a href="https://www.ourenergyllc.com/prodox/EFLS/Commercial/tos-com051415oe-1.pdf" target="_blank">Term of service</a></div>
        </div>
    </div>
    <div class="compare-rates">
        <div class="fix">
            <h1>4.69</h1>
        </div>
        <div class="center-body">
            <h4>AMAZING FIXED RATE SAVINGS FOR 24 MONTHS</h4>
            <div class="center-bodyinner">
                <div>
                    <h5>Available for a Limited Time Only!</h5>
                </div>
                <div> <img src="/assets/img/arrows.png" class="images"></div>
            </div>
        </div>
        <div class="center-body">
            <div class="corner-body">
                <form>
                    <mat-form-field>
                        <input matInput placeholder="ENTER ZIP CODE">
                    </mat-form-field>
                </form>
                <div><button >Grab it Today!</button>
                </div>
            </div>
            <div><a href="https://www.ourenergyllc.com/prodox/EFLS/Commercial/tos-com051415oe-1.pdf" target="_blank">Term of service</a></div>
        </div>
    </div>
    <div class="compare-rates">
        <div class="fix">
            <h1>4.79</h1>
        </div>
        <div class="center-body">
            <h4>AMAZING FIXED RATE SAVINGS FOR 36 MONTHS</h4>
            <div class="center-bodyinner">
                <div>
                    <h5>Available for a Limited Time Only!</h5>
                </div>
                <div> <img src="/assets/img/arrows.png" class="images"></div>
            </div>
        </div>
        <div class="center-body">
            <div class="corner-body">
                <form>
                    <mat-form-field>
                        <input matInput placeholder="ENTER ZIP CODE">
                    </mat-form-field>
                </form>
                <div><button >Grab it Today!</button>
                </div>
            </div>
            <div><a href="https://www.ourenergyllc.com/prodox/EFLS/Commercial/tos-com051415oe-1.pdf" target="_blank">Term of service</a></div>
        </div>
    </div>
</mat-card>