<div class="container-fluid">
  <h1 class="text-center">Blogs</h1>
  <div class="blog-container">
    <div class="card" >
      <div class="blog-img">
          <img src="../../assets/img/blog-example.png" class="card-img-top" alt="img">
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card" >
        <div class="blog-img">
            <img src="../../assets/img/blog-example.png" class="card-img-top" alt="img">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="text-center">
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="card" >
          <div class="blog-img">
              <img src="../../assets/img/blog-example.png" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!--  -->
  </div>
</div>