<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <mat-card-content class="row">
        <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <mat-select placeholder="Select a Topic" [(ngModel)]="select_a_topic">
                <mat-option *ngFor="let subject of subjects" [value]="subject.value">
                    {{ subject.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <textarea rows="1" matInput placeholder="Question" [(ngModel)]="question"></textarea>
        </mat-form-field>
    </mat-card-content>
    <button  class="sidebar-contact-button" (click)="submit()">Submit</button>
</mat-card>

<div>
    <div class="col-container">
        <div class="col">
            <div class="infoBox">
                <div class="dashboardInfo">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image2"></div>
                        <mat-card-title>Contact Information</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="accInfo">
                        <mat-list>
                            <mat-list-item>
                                Toll Free:
                            </mat-list-item>
                            <mat-list-item>
                                Phone:
                            </mat-list-item>
                            <mat-list-item>
                                Fax:
                            </mat-list-item>
                            <mat-list-item>
                                Working Hours
                            </mat-list-item>
                        </mat-list>
                        <mat-list>
                            <mat-list-item>
                                1-888-545-4687
                            </mat-list-item>
                            <mat-list-item>
                                (281) 552 8390
                            </mat-list-item>
                            <mat-list-item>
                                281-715-5767
                            </mat-list-item>
                            <mat-list-item>
                                08:00 AM – 06:30 PM (Mon – Fri)
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="infoBox">
                <div class="dashboardInfo">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image3"></div>
                        <mat-card-title>Contact By Email</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="accInfo">
                        <mat-list>
                            <mat-list-item>
                                Corporate Office:
                            </mat-list-item>
                            <mat-list-item>
                                Billing:
                            </mat-list-item>
                            <mat-list-item>
                                Complaints:
                            </mat-list-item>
                            <mat-list-item>
                                Customer Service:
                            </mat-list-item>
                        </mat-list>
                        <mat-list>
                            <mat-list-item>
                                info@ourenergyllc.com
                            </mat-list-item>
                            <mat-list-item>
                                billing@ourenergyllc.com
                            </mat-list-item>
                            <mat-list-item>
                                complaints@ourenergyllc.com
                            </mat-list-item>
                            <mat-list-item>
                                customerservice@ourenergyllc.com
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </div>

    <div class="col-container">
        <div class="col">
            <div class="infoBox">
                <div class="dashboardInfo">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image4"></div>
                        <mat-card-title>Utility Contacts</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="accInfo">
                        <mat-list>
                            <mat-list-item>
                                CenterPoint:
                            </mat-list-item>
                            <mat-list-item>
                                Oncor:
                            </mat-list-item>

                            <mat-list-item>
                                AEP Central/North:
                            </mat-list-item>
                            <mat-list-item>
                                Sharyland Utilities:
                            </mat-list-item>
                            <mat-list-item>
                                TNMP
                            </mat-list-item>
                        </mat-list>
                        <mat-list>
                            <mat-list-item>
                                1-800-332-7143
                            </mat-list-item>
                            <mat-list-item>
                                1-888-313-4747
                            </mat-list-item>
                            <mat-list-item>
                                1-866-223-8508
                            </mat-list-item>
                            <mat-list-item>
                                1-956-668-9551
                            </mat-list-item>
                            <mat-list-item>
                                1-888-866-7456
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="infoBox">
                <div class="dashboardInfo">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image5"></div>
                        <!-- <mat-card-title>General Information</mat-card-title> -->
                        <mat-card-title>Help</mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="display:flex;flex-direction:column;align-items:start;">
                                <button  (click)="billDialogOpen()" > Undertand Your Bill </button>
                                <button (click)="FQADialogOpen()" >
                                    Frequently Asked Questions
                                  </button>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </div>
</div>
