<div class="row mg-0">
    <div style="z-index: 0;" class="col-sm-12">
        <mat-tab-group mat-stretch-tabs>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="../../../../../assets/img/Icons/2.2.png" alt="offers" style="margin-top: -8px;">
                    <label style="font-size: 15px; cursor:pointer;margin-top: 12px;"> Personal Info </label>
                </ng-template>
                <div class="s_personel_info">
                    <div class="editPersonalInfo">
                        <h3>Login Settings</h3>
                        <div class="innerparent">
                            <div>
                                <mat-label>Password:</mat-label>
                            </div>
                            <div>
                                <mat-label style="margin:6px;">**********</mat-label>
                            </div>
                            <div>
                                <mat-label> <i class="material-icons  edit-icon" (click)="changePassDialog()" matTooltip="Edit Password">mode_edit</i>
                                </mat-label>
                            </div>
                        </div>
                        
                        <h3>Contact Information</h3>
                        <div class="innerparent">
                            <div>
                                <mat-label>Email:</mat-label>
                            </div>
                            <div>
                                <mat-label style="margin:6px;"> {{email}}</mat-label>
                            </div>
                            <div>
                                <i class="material-icons edit-icon" matTooltip="Edit Contact Info" (click)="ContactInfoDialog()">mode_edit</i>
                            </div>
    
                        </div>
                        <div class="innerparent">
                            <div>
                                <mat-label>Phone 1:</mat-label>
                            </div>
                            <div>
                                <mat-label style="margin:6px;"> {{cust_phone}}</mat-label>
                            </div>
                        </div>
                        <div class="innerparent">
                            <div>
                                <mat-label>Phone 2:</mat-label>
                            </div>
                            <div>
                                <mat-label style="margin:6px;"> {{cust_phone2}}</mat-label>
                            </div>
                        </div>
                        <h3>Bill Delivery Settings</h3>
                        <!-- <h3>Bill Delivery Settings</h3> -->
                        <div class="innerparent">
                            <div>
                                <mat-label>Bill Delivery:</mat-label>
                            </div>
                            <div>
                                <mat-label style="margin:6px;"> {{deliveryOption?.viewValue}}</mat-label>
                            </div>
                            <div>
                                <i class="material-icons  edit-icon" matTooltip="Edit Delivery Option" (click)="deliveryOptionDialog()">mode_edit</i>
                            </div>
                        </div>
                    </div>
                    <!-- Billing Address -->
                    <div>
                        <h3 class="s_align_heading">Billing Address</h3>
                        <div class="s_service">
                        <mat-list *ngIf="request">
                            <mat-list-item>
                                <mat-label>Street Address:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>City:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>State:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>Zip Code:</mat-label>
                            </mat-list-item>
                        </mat-list>
                        <div class="spinner" *ngIf="showSpinner">
                            <img src="../../../assets/img/Spinner-new.svg" width="100" height="100" alt="logo">
                        </div>
                        <mat-list *ngIf="!request">
                            <h4>{{error}}</h4>
                        </mat-list>
                        <mat-list *ngFor="let bills of BillAddress">
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{bills.cust_address2}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{bills.cust_city}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{bills.cust_state}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{zip}}</mat-label>
                            </mat-list-item>
                        </mat-list>
                        </div>
                    </div>
                    <!-- Service Address -->
                    <div >
                        <h3 class="s_align_heading">Service Address</h3>
                        <div class="s_service">
                        <mat-list *ngIf="request">
                            <!-- <mat-list-item>
                                    <mat-label>Street Address 1:</mat-label>
                                </mat-list-item> -->
                            <mat-list-item>
                                <mat-label>Street Address:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>City:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>State:</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label>Zip Code:</mat-label>
                            </mat-list-item>
                        </mat-list>
                        <div class="spinner" *ngIf="showSpinner">
                            <img src="../../../assets/img/Spinner-new.svg" width="100" height="100" alt="logo">
                        </div>
                        <mat-list *ngIf="!request">
                            <h4>{{error}}</h4>
                        </mat-list>
                        <mat-list *ngFor="let payment of ServiceAddress">
                            
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{payment.premise_address2}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{payment.premise_city}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{payment.premise_state}}</mat-label>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-label class="mat-label-info">{{payment.premise_zip}}</mat-label>
                            </mat-list-item>
                        </mat-list>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <!--  -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="../../../../../assets/img/Icons/3.3.png" alt="offers" style="margin-top: -8px;">
                    <label style="font-size: 15px; cursor:pointer;margin-top: 12px;"> Added Accounts </label>
                </ng-template>
                <div class="AddAccount">
                    <h3>Account Settings</h3>
                    <p>To add a new account to your My Account information, contact us at 1-888-545-4687 </p>
                </div>
                <div class="LinkedAccounts">
                    <mat-table #table [dataSource]="dataSource" class="table">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span *ngIf="element.firstname" style="font-weight: normal">{{element.cust_firstname}} {{element.cust_lastname}}</span>
                                <span *ngIf="!element.firstname" style="font-weight: normal"> {{element.companyname}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customerID">
                            <mat-header-cell *matHeaderCellDef> Account No </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="font-weight: normal"> {{element.cust_id}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="contact">
                            <mat-header-cell *matHeaderCellDef> Zip Code</mat-header-cell>
                            <mat-cell *matCellDef="let element" style="font-weight: normal"> {{element.cust_zip}} </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="unlink">
                                <mat-header-cell *matHeaderCellDef> Unlink </mat-header-cell>
                                <mat-cell *matCellDef="let element" style="font-weight: normal">{{element.cust_address2}}</mat-cell>
                            </ng-container> -->
                        <ng-container matColumnDef="unlink">
                            <mat-header-cell *matHeaderCellDef> Unlink </mat-header-cell>
                            <mat-cell *matCellDef="let element; let ind = index" style="font-weight: normal">
                                <button mat-icon-button (click)="EnterPasswordPopup(ind)"><i [matTooltip]="'Unlink ' + element.cust_id" class="material-icons">remove_circle</i></button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="noaccountlinked">
                        <span>{{noLinkedAccounts}}</span>
                    </div>
                    <div class="spinner" *ngIf="showDisplayAccount">
                        <img src="../../../assets/img/Spinner-new.svg" width="100" height="100" alt="logo">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <div class="col-sm-4" style="padding-left: 9px !important;">
        <div class="right-side-menu">
            <div class="bgImag">
                <img src="../../assets/img/redback.jpg" width="100%" alt="">
            </div>
            <div (click)="Thumbnail()" class="profilepic">
                <img [src]=photo onerror="this.src='../../assets/img/Avatar-image-2.png'" style="cursor: pointer">
            </div>
            <div class="image-upload">
                <label for="file-input">              
                      <i class="material-icons" >linked_camera</i>
                </label>
                <input id="file-input" type="file" (change)="onFileSelected($event)" />
            </div>
            
            <div class="content">
                <h3>{{name}}</h3>
                <h4>{{email}}</h4>
            </div>
        </div>
    </div> -->
</div>