<div mat-dialog-title>
    <button mat-icon-button><i class="material-icons" (click)="close()">close</i></button>
</div>
<div mat-dialog-content *ngIf="bills">
    <div class="cont">
        <img src="../assets/img/bill.png">
        <img src="../assets/img/point.png">
    </div>
</div>
<div mat-dialog-content *ngIf="faq" style="padding-top: 5px; padding-bottom: 5px;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Who is Our Energy?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>OUR Energy is a Retail Electric Provider (REP) which is Licensed to operate in Texas in the Retail Energy Market, we are in process of expanding our operations in Retail Electricity and Gas Markets in New York and Illinois.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What is the difference between a Retail Electricity Provider (REP) and a utility company (TDSP)?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>With electricity market deregulation, you have a choice of who is your retail electric provider. Retail electric providers provide you with an energy price, electric bill and customer service. The local utility company (TDSP) maintains the
                poles and wires in your community. Because of electricity market deregulation, Customers have a choice in retail electric providers. So, when you switch retail electric providers for the same residence or business location, you should
                experience no change in the reliability of your service. Your local utility company (TDSP) will continue to read your meter and will continue to maintain the poles and wires. And you will continue to call your local utility company (TDSP)
                in the event of an outage. If you change locations within the state, your local utility company (TDSP) may change.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Is OUR Energy certified as a Retail Electricity Provider?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, the Public Utility Commission for the State of Texas puts every REP through a rigid and strict process of certification. OUR Energy has met the requirements for financial, managerial and technical abilities for the privilege of selling
                energy in Texas (PUC Certificate Number 10170).</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Why would I choose OUR Energy?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Honesty, Integrity and Loyalty. As a Retail Electric provider we will make sure that you THE Customer is treated as a part of OUR Energy Family, we will make sure your issues or concerns are addressed and as much as it is possible it should
                always be a one call resolution.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    How will OUR Energy be better than any other REP?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>With proper Risk management, competitive prices and customer service above all others we will make sure that we always tailor to you THE CUSTOMER’S needs.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What happens if my REP (Retail Electric Provider) goes out of business?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You will not lose POWER. You will receive a notice from the provider giving you time to select your new provider, usually it is a 30 Day Notice. If a customer does not choose a new provider during that time, you will be assigned to a “Provider
                of Last Resort,” which is an assigned back-up electricity provider. (Texas Administrative Code §25.43(a)(2)).
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What are OUR Energy hours of operations for Customer Service?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>OUR Energy will be available from 8:30 AM to 6 PM over the phone (1888-5454-OUR) , fax (281-715-5767) or by email customerservice@OUREnergyllc.com
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What Should I do if there is a Power Outage?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>For information about power outages, please contact your (local utility) Transmission and Distribution Service Provider.
            </p>
            <p>AEP Texas Central (866) 223-8508</p>
            <p>AEP Texas North (866) 223-8508</p>
            <p>CenterPoint Energy (800) 332-7143</p>
            <p>Sharyland Utilities (956) 668-9551</p>
            <p>TNMP (Texas-New Mexico Power Company) (888) 866-7456</p>
            <p>Oncor (formerly TXU Electric Delivery Company) (888) 313-4747</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>