<div class="settings">
    <mat-card-header>
        <mat-card-title class="title">
            Change Your Password
        </mat-card-title>
    </mat-card-header>
    <form #form [formGroup]="resetPasswordGroup" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput type="password" placeholder="Enter Old Password" formControlName="old_password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
            <mat-error *ngIf="f.old_password.errors?.required"> Old Password is required </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Enter New Password" formControlName="new_password" [type]="hide1 ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide1 = !hide1"> {{hide1 ? 'visibility' : 'visibility_off'}} </mat-icon>
            <mat-error *ngIf="f.new_password.errors?.required"> New Password is required </mat-error>
            <mat-error>Must contain at least 8 character with uppercase, lowercase, special character and number.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Enter Confirm Password" formControlName="confirm_password" [type]="hide2 ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide2 = !hide2"> {{hide2 ? 'visibility' : 'visibility_off'}} </mat-icon>
            <mat-error *ngIf="f.confirm_password.errors?.match"> Password does not match </mat-error>
        </mat-form-field>
        <p> {{message}} </p>
        <div class="contactbutton-row">
            <button [disabled]="isBtnDisabled"  class="btn1">Submit</button>
            <button [disabled]="isBtnDisabled"  matDialogClose class="btn2">Close</button>
        </div>
    </form>
</div>