@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v46/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased
}

body {
  height: 100%
}

html {
  scroll-behavior: smooth
}

:focus {
  outline: 0
}

.mat-radio-label {
  white-space: normal !important
}

.mat-tooltip {
  font-size: 15px !important
}

.mat-checkbox-layout {
  white-space: normal !important
}

.mat-step-header .mat-step-icon {
  background-color: #ff4270 !important;
  color: #fff;
  font-weight: 700;
  font-size: 17px
}

.mat-form-field-suffix .mat-icon {
  color: #ff4270 !important;
  font-size: 22px !important
}

.mat-step-header .mat-step-icon-not-touched {
  background-color: #b52b4d8f
}

.mat-menu-content {
  padding-bottom: 0 !important
}

body {
  font-family: Roboto, sans-serif
}

.mat-tab-body-content {
  overflow: hidden !important
}

.mat-horizontal-stepper-header {
  display: flex;
  height: 72px;
  overflow: hidden;
  align-items: center;
  padding: 0 15px !important
}

.mat-header-row {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%) !important;
  text-align: center;
  font-size: 18px;
  font-weight: 700
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ff4270
}

.mat-sort-header-arrow {
  color: #fff;
  font-weight: 700
}

.failureIcon {
  font-size: 30px
}

.successIcon {
  font-size: 30px
}

.normalIcon {
  font-size: 30px
}

.mainIcon {
  font-size: 30px
}

.normalIcon2 {
  font-size: 40px
}

.searchBar {
  font-size: 19px
}

.mat-error {
  text-align: right
}

.nullIcon {
  font-size: 30px;
  color: #fff
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px
}

::-webkit-scrollbar-track {
  background: 0 0
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #555;
  transition: .3s
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  transition: .3s
}

mark {
  padding: 0;
  background-color: #ff0
}

.topIcon {
  margin-top: -8px
}

.tabLabel {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  margin-top: 13px
}

.estimated .radioText {
  font-size: 13px;
  padding-right: 4px;
  margin: 0;
  font-weight: 100
}

.estimated .mat-radio-label-content {
  padding-left: 2px
}

.contract-list {
  padding: 0;
  min-height: 80px
}

.contract-list .mat-slide-toggle-bar {
  width: 30px !important;
  margin: 0
}

.contract-list .mat-slide-toggle-thumb-container {
  width: 16px !important;
  height: 16px !important;
  top: -1px !important
}

.contract-list .mat-slide-toggle-thumb {
  height: 16px !important;
  width: 16px !important
}

.contract-list p {
  font-size: 13px !important;
  margin: 0
}

.filter-bar .heading {
  display: block;
  margin: 0 0 10px !important
}

.range-select .mat-form-field {
  width: 46%
}

.btn,
a.btn,
button {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%);
  color: #fff;
  font-weight: 600;
  box-shadow: 9.8px 6.9px 21px 0 rgba(0, 0, 0, .12);
  border: 1px solid #c2dde8 !important;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  position: relative;
  padding: 10px 30px;
  margin: 10px 1px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  transition: .3s ease-in-out all;
  border-radius: 5px;
  font-weight: 400
}

.blue-btn {
  background: linear-gradient(90deg, #042863 0, #0a97d2 100%) !important
}

.pink_btn {
  outline: 0;
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%);
  color: #fff
}

.pink_btn {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%);
  color: #fff;
  font-weight: 600;
  box-shadow: 9.8px 6.9px 21px 0 rgba(0, 0, 0, .12);
  border-width: 1px 1px 1px 1px;
  border-color: #ddd;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  transition: .3s ease-in-out all
}

.btn:focus,
.btn:hover,
a.btn:focus,
a.btn:hover,
button:focus,
button:hover {
  box-shadow: none;
  background: #fff;
  border: 1px solid #ff4270 !important;
  color: #ff4270;
  transition: .3s ease-in-out all
}

.padding-30 {
  padding: 30px
}

.mat-form-field-label {
  line-height: 22px !important
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  color: #273c61;
  font-weight: 500
}

p {
  color: #333
}

.input_fix .mat-input-element {
  height: 40px
}

.input_fix .mat-form-field-infix {
  padding: 0
}

.material-icons {
  color: #ff4270 !important
}

.price-box_en {
  padding: 20px 0 0;
  flex: 1;
  text-align: center
}

.price-box_en h3 {
  margin: 0 !important;
  color: #ff4270;
  font-size: 55px !important
}

.price-box_en b {
  font-size: 14px;
  color: #273c61
}

.TOS_EFL {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important
}

.TOS_EFL a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  color: #b6b6b6
}

.btn-100 {
  width: 100%
}

button:disabled,
button[disabled] {
  background: 0 0 !important;
  color: #989595 !important;
  border: 1px solid #ccc !important;
  cursor: not-allowed
}

.tdsp-rates>div {
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  margin: 10px
}

.about_form {
  flex-direction: column;
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto
}

mat-card-title {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%);
  color: #fff
}

.mat-step-icon .mat-icon {
  color: #fff !important
}

.mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
  box-shadow: none !important;
  border: none !important
}

.holder .material-icons {
  color: #fff !important
}

.about_form mat-card-title {
  background: 0 0 !important;
  color: #273c61 !important
}

.center__recap {
  display: flex;
  justify-content: center
}

.recaptcha_div .mat-form-field-underline {
  bottom: 0
}

.recaptcha_div .mat-form-field-infix {
  border: none
}

.tab-content .faqs_home {
  padding: 0 !important
}

p b,
p strong {
  color: #273c61
}

.router__outlet router-outlet+*>div:first-child,
.router__outlet router-outlet+*>mat-card:first-child,
.router__outlet router-outlet+*>section:first-child {
  padding-top: 85px !important
}

.recaptcha_div .mat-form-field-wrapper {
  padding-bottom: 0
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ff4270
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #ff4270
}

.panel-heading {
  position: relative
}

.mat-elevation-z5 {
  box-shadow: 0 0 10px #ccc
}

.App .mat-elevation-z5 {
  border-radius: 8px
}

.App .mat-card-title {
  background: 0 0 !important;
  color: #3a4170
}

.App .mat-card-avatar {
  display: none
}

.s_en_plans {
  position: relative
}

.s_en_plans::after {
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -20px;
  background: #b6b6b6;
  position: absolute
}

.s_reduce_b_cost {
  background-color: #eff3fc
}

.s_com_res {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px
}

.s_reg_btn_div {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center
}

.s_pp_term a:nth-child(2) {
  margin-left: 10px
}

.mat-paginator-range-actions button {
  box-shadow: none !important
}

.pos_rel {
  position: relative
}

.custom-btn {
  overflow: visible !important
}

.custom-btn .mat-sort-header-button {
  background: 0 0 !important;
  box-shadow: none !important;
  margin: 0 0 0 15px !important;
  border: none !important
}

.menu-items {
  overflow: hidden;
  padding: 10px
}

.faqs_home {
  width: 100%;
  padding: 50px 20px 20px;
  margin: 0 auto;
  box-shadow: none;
  border-bottom: 1px solid #e8e8f6;
  border-radius: 0;
  padding: 30px;
  cursor: pointer;
  font-size: 18px;
  padding-left: 30px
}

i {
  color: #273c61;
  font-size: 18px;
  font-weight: 300
}

.faqs_home .panel-heading.collapsed:after {
  content: "\f067";
  background-color: #273c61
}

.table>tbody>tr>td {
  word-break: break-word
}

.s_address_found {
  padding: 0 20px
}

.s_note_waive {
  margin-top: 5px
}

.s_note_waive span {
  color: #c00
}

.s_popup_info_content {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap
}

.s_popup_info {
  width: 48%;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  margin: 5px;
  border-radius: 5px
}

.s_popup_info h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px
}

.mg-0 {
  margin: 0
}

.blue-btn:hover {
  color: unset !important;
  background: linear-gradient(90deg, #042863 0, #0a97d2 100%) !important !important;
  color: #ccc !important;
  border: 1px solid #c2dde8 !important
}
.s_tos_consent a {
  margin: 0 5px;
  font-size: 16px;
  color: #959fac;
  text-decoration: underline
}
.s_consent_lastDiv {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap
}
.mat-row{
  text-align: center;
}
.s_consent_lastDiv>div {
  width: 48%
}

.s_consent_lastDiv>div:first-child {
  border-right: 1px solid #ccc
}

.badge {
  position: absolute;
  right: 10px;
  top: 0;
  background: #c00;
  min-width: 20px;
  min-height: 20px;
  line-height: 15px
}

.cdk-global-scrollblock {
  top: 0 !important
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff4270 !important
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #a91f73 !important
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(233, 30, 99, .5)
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #e91e63 !important
}

.s_pop_heading {
  color: #273c61;
  font-weight: 500;
  font-size: 24px
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%) !important
}

.swal2-popup .swal2-styled.swal2-cancel {
  background-color: #fff !important;
  color: #ff4270 !important
}

.border_boxShadow_none {
  border: none !important;
  box-shadow: none !important
}
.faqs_home #accordion {
  max-width: 1050px;
  margin: 0 auto;
}
.faqs_home #accordion .panel-default {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e8e8f6;
  border-radius: 0;
}
.faqs_home #accordion .panel-default .panel-heading {
  background: #fff;
  padding: 30px;
  cursor: pointer;
}
.faqs_home #accordion .panel-default .panel-heading .panel-title {
  color: #959fac;
  font-size: 18px;
}
.faqs_home .panel-heading:after {
  font-family: "FontAwesome";
  content: "\f068 ";
  position: absolute;
  left: 20px;
  font-size: 16px;
  font-weight: 400;
  top: 50%;
  line-height: 27px;
  margin-top: -10px;
  color: #fff;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: #ff4270;
}
.faqs_home #accordion .panel-default .panel-heading .panel-title a {
  font-weight: 300;
  padding-left: 30px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88em;
  color: #959fac;
}
.faqs_home #accordion .panel-default .panel-collapse .panel-body p {
  font-size: 13px;
  line-height: 24px;
  color: #959fac;
}
.faqs_home #accordion .panel-default .panel-collapse .panel-body {
  padding-left: 80px;
  padding-top:0;
}
.mat-header-row mat-header-cell{
  color: #fff !important;
}
.rememberforget .checkbox label{
  padding-left: 0 !important;
}
@media only screen and (max-width:1500px) {
  .filter-bar button {
    font-size: 14px;
    padding: 5px 10px
  }
}

@media only screen and(max-width:767px) {
  .mat-checkbox-layout .mat-checkbox-label{
    line-height: 14px !important;
  }

  .forget mat-form-field{
    font-size: 16px !important;
  }
  .con-helpTools {
    padding: 20px !important
  }

  .header .inner_header .logo {
    width: 130px
  }

  .header .inner_header {
    padding: 5px 10px
  }

  .result-box {
    margin-bottom: 0
  }

  .faqs_home .panel-heading:after {
    left: -5px !important
  }

  .faqs_home .panel-heading {
    padding: 20px 30px !important
  }

  .App .staticContent {
    margin-top: 10px !important
  }

  .App .children {
    width: 97% !important;
    margin: 0 auto !important
  }

  .pay-bill-Table {
    max-height: 100% !important
  }
  .bus-banner{
    flex-direction: row-reverse !important;
  }
}

@media only screen and(max-width:540px) {
  .dashboard_username{
    font-size: 22px !important;
  }
  .container .header-title h3 {
    font-size: 16px !important;
  }

  .s_reg_top_rows mat-form-field:nth-child(2) {
    margin-top: 10px
  }

  .container .footer-row .tos {
    font-size: 12px !important
  }

  .container .rows mat-form-field {
    padding: 0 !important
  }

  .recaptcha_div img {
    width: 75px !important
  }

  .s_reg_btn_div {
    width: 100% !important
  }

  .container .footer-row .recaptcha-container {
    margin: 0 !important
  }

  .background .mainCard mat-card h3,
  .container .sub-titles {
    font-size: 18px !important
  }

  .background .back-image {
    width: 96% !important
  }

  .col-container {
    flex-direction: column !important
  }

  .u_flex {
    flex-direction: column !important
  }

  .headerr img {
    width: 100px !important;
    object-fit: contain
  }

  .headerr i {
    font-size: 20px !important
  }

  .headerr .iconsss {
    font-size: 20px !important
  }

  .rightSide {
    align-items: center
  }

  .rightSide .icon .badge {
    right: 18px
  }

  .logo_wrapp img {
    width: 100%;
    max-width: 120px;
    object-fit: contain
  }

  .eastablish-contact .mat-card {
    padding: 10px !important
  }

  .contacts h2 {
    font-size: 22px !important;
    margin: 15px 0 !important
  }

  .contacts h3 {
    font-size: 18px !important
  }

  .contacts p {
    color: #616161 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 400 !important
  }

  .tabs-bar i {
    font-size: 16px !important;
    width: 20px !important;
    margin-right: 10px !important
  }

  .tabs-bar .mat-form-field {
    font-size: 12px !important;
    padding: 0 !important
  }

  .tabs-bar .cancel-padding .mat-form-field-wrapper {
    margin-left: 0 !important
  }

  .tabs-bar input.mat-input-element {
    font-size: 11px !important
  }

  .contacts h4 {
    font-size: 14px !important
  }

  .App .staticContent {
    margin-top: 0
  }
}

@media only screen and(max-width:350px) {
  .main-container .inner-container .child{
    padding-left: 0 !important;
  }
  .col-container .col {
    padding: 5px !important
  }

  .accInfo .mat-list-item-content {
    padding: 0 1px !important;
    font-size: 12px !important
  }

  .cont {
    display: block !important
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    height: auto !important
  }

  .mat-expansion-panel-header {
    padding: 5px !important
  }

  .s_faq_dashboard {
    padding: 5px !important;
    margin: 0 !important
  }

  .mat-dialog-container {
    padding: 0 !important
  }

  .s_faq_dashboard p {
    font-size: 11px;
    line-height: 14px
  }

  .faqs_home{
    padding: 0 !important;
  }
  .faqs_home .panel-heading {
    padding: 10px 23px !important;
  }
  .faqs_home #accordion .panel-default .panel-heading .panel-title {
    font-size: 15px !important;
  } 
  .faqs_home #accordion .panel-default .panel-heading .panel-title a {
    padding-left: 5px !important;
  }
  .faqs_home #accordion .panel-default .panel-collapse .panel-body {
    padding-left: 0px;
  } 
  .faqs_home .panel-heading:after{
    line-height: 21px !important;
    width: 20px !important;
    height: 20px !important;
  }
}