@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

.mat-radio-label {
    white-space: normal !important;
}

.mat-tooltip {
    font-size: 15px !important;
}

.mat-checkbox-layout {
    white-space: normal !important;
}
.router__outlet{
  padding-top: 70px;
}
.mat-step-header .mat-step-icon {
    background-color: #131212 !important;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

.mat-menu-content {
    padding-bottom: 0px !important;
}

body {
    font-family: 'Open Sans'
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-horizontal-stepper-header {
    display: flex;
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 0 15px !important;
}

.mat-header-row {
    background-color: #000;
    text-align: center;
    mat-header-cell {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}

.mat-row {
    font-weight: bold;
    color: #000;
    text-align: center;
    mat-cell {
        font-size: 18px !important;
    }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #191919;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #191919;
}

.mat-sort-header-arrow {
    color: #fff;
    font-weight: bold;
}

.mat-card,
.mat-list-item,
.mat-table,
.mat-paginator,
.mat-form-field,
.mat-button,
.mat-menu-item,
.mat-checkbox,
.mat-radio-button {
    font-family: 'Open Sans'
}

.failureIcon {
    font-size: 30px;
    color: #cd0000
}

.successIcon {
    font-size: 30px;
    color: #1d3863;
}

.normalIcon {
    font-size: 30px
}

.mainIcon {
    font-size: 30px;
    color: goldenrod
}

.normalIcon2 {
    font-size: 40px
}

.searchBar {
    font-size: 19px;
}

.mat-error {
    text-align: right;
}

.nullIcon {
    font-size: 30px;
    color: white
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #555;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    transition: 0.3s;
}

mark {
    padding: 0px;
    background-color: #ff0;
}

.topIcon {
    margin-top: -8px;
}

.tabLabel {
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 13px;
}


///////////////////////////Strat Haseeb css
.estimated .radioText {
    font-size: 13px;
    padding-right: 4px;
    margin: 0px;
    font-weight: 100;
}
.estimated .mat-radio-label-content{
    padding-left: 8px;
}
.filter-bar button{
    background:linear-gradient(90deg,#042863 0%,#0a97d2 100%);
    ;
    color: #fff;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}
.contract-list{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0;
    min-height: 80px;
}
.contract-list .mat-slide-toggle-bar{
    width: 30px !important;
    margin: 0;
}
.contract-list .mat-slide-toggle-thumb-container{
    width: 16px !important;
    height: 16px !important;
    top: -1px !important;
}
.contract-list .mat-slide-toggle-thumb {
    height: 16px !important;
    width: 16px !important;
}
.contract-list p {
    font-size: 13px !important;
    margin: 0;
}

.filter-bar .heading{
    display: block;
    margin: 0 0 10px !important;
}
.range-select .mat-form-field{
    width: 46%;
}


.btn,button,a.btn{
  background: linear-gradient(90deg,#042863 0%,#0a97d2 100%) ;
  color: #FFFFFF;
  font-weight: 600;
  box-shadow: 9.8px 6.9px 21px 0 rgba(0,0,0,.12);
  border: 1px solid #c2dde8 !important;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  font-size: 16px ;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease-in-out all;

}
.btn:focus,button:focus,a.btn:focus{
  outline: none;
  color: #fff;
}

.btn:hover,button:hover,a.btn:hover{
box-shadow:none;
background: #fff;
border: 1px solid #ccc !important;
color: #B6B6B6 ;
transition: 0.3s ease-in-out all;
}
.padding-30{
  padding: 30px;
}
.mat-form-field-label{
  line-height: 22px !important;
}
.h1, .h2, .h3, h1, h2, h3 {
  color: #3a4170;
}
p{
  color: #959fac;
}
input.mat-input-element{
  height: 40px;
}
.mat-form-field-infix {
  padding: 0;
}
@media only screen and(max-width:767px){
  .router__outlet {
    padding-top: 50px;
  }
  .con-helpTools{
    padding: 20px !important;
  }
}