<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../../../assets/img/Icons/offer-icon-black.png" alt="offers" style="margin-top: -8px;">
            <label for="Offers" style="color: #000; font-size: 16px; cursor:pointer;margin-top: 12px;"> Offers</label>
        </ng-template>
        <br>
        <div class="container-fluid">
            <div class="row">
                <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
                    <input matInput placeholder="Search..." (keyup)="applyFilterToOffers($event.target.value)">
                    <button (click)="openCreateOfferDialog()" matSuffix mat-icon-button>
                        <mat-icon style="font-size: 30px;" matTooltip="Add New Offer">add_box</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="header-paginator">
            <div class="topPaginator">
                <mat-paginator #offerPaginator [pageSize]="25" [pageSizeOptions]="[25,50]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
        <div class="my">
            <div class="y">
                <mat-table #table [dataSource]="offerDataSource" class="abc">
                    <ng-container matColumnDef="a">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="openViewOfferDialog(element)">
                                <i matTooltip="View Offer Details" class="normalIcon material-icons">mode_comment</i>
                            </button>
                            <button mat-icon-button (click)="openChangeExpiryDialog(element)">
                                <i matTooltip="Change Offer Expiry" class="normalIcon material-icons">timer</i>
                            </button>
                            <button *ngIf="element.status == true" mat-icon-button (click)="openAttachOfferDialog(element)">
                                <i matTooltip="Attach Offer" class="normalIcon material-icons">attach_file</i>
                            </button>
                            <button *ngIf="element.status == true" mat-icon-button (click)="openSendOfferDialog(element)">
                                <i matTooltip="Send Offer" class="normalIcon material-icons">send</i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="n">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.offer_name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cs">
                        <mat-header-cell *matHeaderCellDef> Promo ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.promo_id }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dc">
                        <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_created | date }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="es">
                        <mat-header-cell *matHeaderCellDef> Modified Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_modified | date }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ed">
                        <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.expiry_date | date }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="s">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button *ngIf="element.status == true">
                            <i class="successIcon material-icons">check</i>
                        </button>
                            <button mat-icon-button *ngIf="element.status == false">
                            <i class="failureIcon material-icons">close</i>
                        </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <h3>{{offerStatus}}</h3>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="../../../../../assets/img/Icons/offer-icon-black.png" alt="offers" style="margin-top: -8px;">
            <label for="Customers" style="color: #000; font-size: 16px; cursor:pointer; margin-top: 12px;"> Customers </label>
        </ng-template>
        <br>
        <div class="container-fluid">
            <div class="row">
                <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
                    <input matInput placeholder="Search..." (keyup)="applyFilterToCustomers($event.target.value)">
                </mat-form-field>
                <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
                    <mat-select matInput placeholder="Flow Status" (change)="filterByFlowStatus($event.value)">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let x of flowStatus" [value]="x.value"> {{x.viewValue}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="header-paginator">
            <div class="topPaginator">
                <mat-paginator #customerPaginator [pageSize]="25" [pageSizeOptions]="[25,50]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
        <div class="my">
            <div class="y">
                <mat-table #table [dataSource]="customerDataSource" class="abc">
                    <ng-container matColumnDef="a">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="openDetailsDialog(element)">
                                <i matTooltip="View Details" class="normalIcon material-icons">mode_comment</i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="n">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name | titlecase}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cs">
                        <mat-header-cell *matHeaderCellDef> Customer ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.customer_id }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> Promo Code/Product </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.promo_code}}
                            <div *ngIf="element.product_name"><br>{{element?.product_name}} ({{element?.ProductID}})</div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dc">
                        <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_created | date }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="es">
                        <mat-header-cell *matHeaderCellDef> Modified Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date_modified | date }}</mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="ed">
                    <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.expiry_date | date }}</mat-cell>
                </ng-container> -->
                    <ng-container matColumnDef="s">
                        <mat-header-cell *matHeaderCellDef> Flow Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.flow_status}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                </mat-table>
                <h3>{{customerStatus}}</h3>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>