<div class="container-fluid">
    <div class="row">
        <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <input matInput placeholder="Search..." (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <mat-form-field class="searchBar col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <mat-select matInput placeholder="Flow Status" (change)="filterByFlowStatus($event.value)">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let x of flowStatus" [value]="x.value"> {{x.viewValue}} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="header-paginator">
    <div class="topPaginator">
        <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[25,50]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</div>
<div class="my">
    <div style="max-height: 400px;">
        <mat-table #table [dataSource]="dataSource" class="abc">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Customer ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customer_id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="n">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cust_firstname | titlecase }} {{element.cust_lastname | titlecase }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cd">
                <mat-header-cell *matHeaderCellDef> Attached Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date_created | date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fs">
                <mat-header-cell *matHeaderCellDef> Flow Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.flow_status}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>