<mat-card *ngIf="custPayInfo?.def_acct_num" class="header">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image4"></div>
        <mat-card-title style="margin-bottom: 0px;">Make a Payment Online Now</mat-card-title>
    </mat-card-header>
    <mat-card-content class="header-content">
        <div>
            <p><b>{{custPayInfo?.chg_onfile_message}}</b></p>
            <p><b>{{custPayInfo?.recurr_cust_message}}</b></p>
            <p><b>{{custPayInfo?.recurr_cust_message_2}}</b></p>
        </div>
        <div class="text-right">
            <!-- <p><b>{{custPayInfo?.pay_using_message}} <button mat-raised-button class="btn1" (click)="payUsing(custPayInfo?.def_cust_acct_type)">Click Here</button> </b></p> -->
            <p><b><mat-slide-toggle (change)="payUsing(custPayInfo?.def_cust_acct_type, $event)"><b>Click Here {{custPayInfo?.pay_using_message}}</b></mat-slide-toggle>
                </b>
            </p>
        </div>
    </mat-card-content>
</mat-card>
<!-- <div></div> -->
<form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
    <mat-card class="center-row mat-elevation-z3">
        <div class="payment_amount">
            <mat-form-field style="margin-bottom: 10px; margin-top: 10px;">
                <input matInput placeholder="Amount" maxlength="10" formControlName="sched_pay_amount">
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="paymentForm.controls.sched_pay_amount.hasError('required')">Amount is required</mat-error>
                <mat-error *ngIf="paymentForm.controls.sched_pay_amount.hasError('pattern')">Invalid Amount</mat-error>
                <mat-error *ngIf="paymentForm.controls.sched_pay_amount.hasError('max')"> Please contact the bank to make a payment of $25000 or above </mat-error>
                <mat-error *ngIf="!paymentForm.controls.sched_pay_amount.hasError('pattern') && paymentForm.controls.sched_pay_amount.hasError('min')"> Invalid Amount </mat-error>
            </mat-form-field>
        </div>
        <div class="inside-center-row">
            <mat-radio-group (change)="changePayMode($event)" formControlName="sched_type">
                <mat-radio-button value="6" checked> Bank Draft (ACH) </mat-radio-button>
                <mat-radio-button value="C"> Credit/Debit Card </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-card>
    <div class="pay-now">
        <div class="payalign">
            <mat-card class="paymentdate mat-elevation-z3" *ngIf="paymentForm.controls.sched_type.value == '6'">
                <mat-card class="title">
                    Pay by Bank Draft
                </mat-card>
                <mat-form-field>
                    <mat-select placeholder="Account Type" formControlName="ACCT_TYPE">
                        <mat-option value="bchecking">ACH Business Checking</mat-option>
                        <mat-option value="bsavings">ACH Business Saving</mat-option>
                        <mat-option value="nbchecking">ACH Non-Business Checking</mat-option>
                        <mat-option value="nbsavings">ACH Non-Business Saving</mat-option>
                    </mat-select>
                    <mat-error *ngIf="paymentForm.controls.ACCT_TYPE.hasError('required')">Account Type is required</mat-error>
                </mat-form-field>
                <div class="address-row">
                    <mat-form-field>
                        <input matInput placeholder="Routing No." maxlength="12" formControlName="ABA_NBR">
                        <mat-error *ngIf="paymentForm.controls.ABA_NBR.hasError('required')">Routing No. is required</mat-error>
                        <mat-error *ngIf="paymentForm.controls.ABA_NBR.hasError('pattern')">Invalid Routing No.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Routing No." maxlength="12" formControlName="cnfrm_ABA_NBR">
                        <mat-error *ngIf="paymentForm.controls.cnfrm_ABA_NBR.hasError('mismatch')">Routing No. does not match</mat-error>
                    </mat-form-field>
                </div>
                <div class="address-row">
                    <mat-form-field>
                        <input matInput placeholder="Account No." maxlength="16" formControlName="ACCT_NO">
                        <mat-error *ngIf="paymentForm.controls.ACCT_NO.hasError('required')">Account No. is required</mat-error>
                        <mat-error *ngIf="paymentForm.controls.ACCT_NO.hasError('pattern')">Invalid Account No.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Bank Account No." maxlength="16" formControlName="cnfrm_ACCT_NO">
                        <mat-error *ngIf="paymentForm.controls.cnfrm_ACCT_NO.hasError('mismatch')">Account No. does not match</mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <mat-card class="paymentdate mat-elevation-z3" *ngIf="paymentForm.controls.sched_type.value == 'C'">
                <mat-card class="title">
                    Pay by Credit Card
                </mat-card>
                <div class="address-row">
                    <mat-form-field>
                        <mat-select placeholder="Card Type" formControlName="card_type">
                            <mat-option [value]="null">--</mat-option>
                            <mat-option value="Disc">Discover</mat-option>
                            <mat-option value="Master">Master</mat-option>
                            <mat-option value="Visa">Visa</mat-option>
                        </mat-select>
                        <mat-error *ngIf="paymentForm.controls.card_type.hasError('required')">Card Type is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Enter Credit Card No." formControlName="card_no" maxlength="19" credit-card>
                        <mat-icon matSuffix><i class="fa fa-cc-{{creditCardString}}"></i></mat-icon>
                        <mat-icon matSuffix *ngIf="creditCardString == 'Discover/Diners Club'"><i class="fa fa-cc-discover"></i></mat-icon>
                        <mat-icon matSuffix *ngIf="creditCardString == 'American Express/Diners Club'"><i class="fa fa-cc-visa"></i></mat-icon>
                        <mat-error *ngIf="paymentForm.controls.card_no.hasError('required')">Credit Card No. is required</mat-error>
                        <mat-error *ngIf="paymentForm.controls.card_no.hasError('pattern')">Invalid Credit Card No.</mat-error>
                    </mat-form-field>
                </div>
                <div class="address-rows">
                    <mat-form-field>
                        <input matInput placeholder="Security Code" maxlength="4" formControlName="acct_no_code">
                        <mat-error *ngIf="paymentForm.controls.acct_no_code.hasError('required')">Security Code is required</mat-error>
                        <mat-error *ngIf="paymentForm.controls.acct_no_code.hasError('pattern')"> Invalid Security Code </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Expiry Month" formControlName="exp_mm">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let m of months" [value]="m.value">
                                {{ m.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="paymentForm.controls.exp_mm.hasError('required')"> Expiry Month is required </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Expiry Year" formControlName="exp_yyyy">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let y of years" [value]="y">
                                {{ y }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="paymentForm.controls.exp_yyyy.hasError('required')"> Expiry Year is required </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <mat-card class="paymentdate mat-elevation-z3">
                <mat-card class="title">
                    Billing Address
                </mat-card>
                <div class="check" style="margin-bottom: 15px;">
                    <mat-checkbox (change)="changeUseCurrentAddress()" formControlName="useCurrentAdd"><b>Use Current Mailing Address</b></mat-checkbox>
                </div>
                <div class="address-row">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="cust_name">
                        <mat-error *ngIf="paymentForm.controls.cust_name.hasError('required')"> Name is required </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="address_2">
                        <mat-error *ngIf="paymentForm.controls.address_2.hasError('required')"> Address is required </mat-error>
                    </mat-form-field>
                </div>
                <div class="address-rows">
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="city">
                        <mat-error *ngIf="paymentForm.controls.city.hasError('required')"> City is required </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="State" formControlName="state">
                        <mat-error *ngIf="paymentForm.controls.state.hasError('required')"> State is required </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Zip Code" maxlength="5" formControlName="zip">
                        <mat-error *ngIf="paymentForm.controls.zip.hasError('required')"> Zip Code is required </mat-error>
                        <mat-error *ngIf="paymentForm.controls.zip.hasError('pattern')"> Invalid Zip Code </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
    </div>
    <mat-card class="pay-footer mat-elevation-z3">
        <div>
            <mat-label>Payment Mode</mat-label>
            <br>
            <mat-radio-group style="display: flex; flex-direction: column; margin-top: 10px;" formControlName="auto_pay">
                <mat-radio-button *ngIf="viewOrNot" value="Y"> Pay Now & Set as recurring to pay future bills automatically on the due date </mat-radio-button>
                <mat-radio-button value="N" checked> Make one time payment </mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-slide-toggle style="margin-top: 15px;" (change)="changeAuth($event)"><span style="font-size: 16px; font-weight: bold;">Authorize Payment</span></mat-slide-toggle>
        <div>
            <button mat-raised-button type="submit" class="btn1" [disabled]="submitButtonStatus || !authorize">Submit</button>
            <button mat-raised-button type="button" class="btn2">Cancel</button>
        </div>
    </mat-card>
</form>