<div class="footerback">
    <div class="raven-divider"> 
        <span class="raven-divider-line"></span>
    </div>
    <div class="main-footer">
        <div class="inner-footer">
            <div>
                    <a [routerLink]="['/']">
                <img src="../assets/img/site_logo.png" style="height:42px;margin: 6px 0px;">
                </a>
                
                <!-- <img src="../assets/img/WTG-Energy-Logo.png" style="height:42px;margin: 6px 0px;"> -->
                <!-- <a style="text-decoration: none;">
                    <h1 style="font-size:32px;font-weight:800;">
                        <span style="color:#d00000">W</span>
                        <span style="color:#2e2566;margin-left:-4px;">TG</span>
                        <span style="color:#2e2566"> ENERGY</span>
                    </h1>
                </a> -->
                <mat-list>
                        <mat-list-item>
                                <a routerLink="/about">
                                    <i class="fa fa-chevron-right"></i> About Us</a>
                            </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/contact">
                            <i class="fa fa-chevron-right"></i> Contact Us
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/residential">
                            <i class="fa fa-chevron-right"></i> For the Home
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/commercial">
                            <i class="fa fa-chevron-right"></i> For the Bussiness
                        </a>
                    </mat-list-item>
                
                    <!-- <mat-list-item>
                        <a routerLink="/community">
                            <i class="fa fa-chevron-right"></i> FAQ's
                        </a>
                    </mat-list-item> -->
                    <!-- broker-login -->
                    <mat-list-item>
                        <a routerLink="/">
                            <i class="fa fa-chevron-right"></i> Blog
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                      <a routerLink="/help">
                          <i class="fa fa-chevron-right"></i> Help
                      </a>
                  </mat-list-item>
                </mat-list>
            </div>
            <!-- <div>
                <mat-list class="second-list">
                    <mat-list-item>
                        <a routerLink="/broker">
                            <i class="fa fa-chevron-right"></i> BROKER PROGRAM
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/community">
                            <i class="fa fa-chevron-right"></i> ENERGY SAVING TIPS
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/special">
                            <i class="fa fa-chevron-right"></i> SPECIAL
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/ourlife">
                            <i class="fa fa-chevron-right"></i> OUR ENERGY LIFE
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/contact">
                            <i class="fa fa-chevron-right"></i> CONTACT US</a>
                    </mat-list-item>
                   
                </mat-list>
            </div> -->
            <div>
                <h4>ADDRESS</h4>
                <mat-list class="contactus">
                    <mat-list-item>
                        17154 Butte Creek Rd,
                    </mat-list-item>
                    <mat-list-item>
                        Suite 250,
                    </mat-list-item>
                    <mat-list-item>
                        Houston TX 77090.
                    </mat-list-item>
                    <mat-list-item>
                        Toll Free: 1-888-545-4687
                    </mat-list-item>
                    <mat-list-item>
                        Fax: 281.715.5767
                    </mat-list-item>
                    <mat-list-item>
                        Voice: 281.552.8390
                    </mat-list-item>
                </mat-list>
                
            </div>
            <div>
                <h4>ACCOUNTS</h4>
                <mat-list>
                    <mat-list-item>
                        <a routerLink="/register">
                            <i class="fa fa-chevron-right"></i> Signup Now</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/login">
                            <i class="fa fa-chevron-right"></i> My Account</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div>
                <h4>Social Links</h4>
                <ul class="footer-link">
                <li>
                    <a rel="noreferrer" href="https://www.facebook.com/ourenergytexas" target="_blank" >
                        <img src="../assets/img/facebook1.png" alt="" width="45px" height="45px">
                        FaceBook
                    </a>
                </li>
                <li>
                    <a rel="noreferrer" href="https://twitter.com/ourenergy" target="_blank">
                        <img src="../assets/img/twitter.png" alt="" width="45px" height="45px">
                        Twitter
                    </a>
                </li>
                <li>
                    <a rel="noreferrer" href="https://plus.google.com/+Ourenergyllc" target="_blank">
                        <img src="../../assets/img/google-plus.png" alt="" width="45px" height="45px">
                        Google Plus
                    </a>
                </li>
                <li>
                    <a rel="noreferrer" href="https://www.linkedin.com/company/our-energy-llc" target="_blank">
                        <img src="../../assets/img/linkedin.png" alt="" width="45px" height="45px">
                        Linked In
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer">
        © 2019 Our Energy, LLC. PUCT Certificate (#10170) All rights reserved.
        <div class="footerLinks">
            <a routerLink="/term-and-conditions"> Customer Agreement </a> |
            <a routerLink="/privacy-policy"> Privacy Policy </a>
        </div>
    </div>
</div>
<!--  -->
<!-- <div class="panel-group footer_panel" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <h4 class="panel-title">
          <a>Footer</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="main-footer">
                <div class="inner-footer">
                    <div>
                            <a [routerLink]="['/']">
                        <img src="../assets/img/For-Footer-2.png" style="height:42px;margin: 6px 0px;">
                        </a>
                        <mat-list>
                                <mat-list-item>
                                        <a routerLink="/about">
                                            <i class="fa fa-chevron-right"></i> About Us</a>
                                    </mat-list-item>
                            <mat-list-item>
                                <a routerLink="/contact">
                                    <i class="fa fa-chevron-right"></i> Contact Us
                                </a>
                            </mat-list-item>
                            <mat-list-item>
                                <a routerLink="/residential">
                                    <i class="fa fa-chevron-right"></i> For the Home
                                </a>
                            </mat-list-item>
                            <mat-list-item>
                                <a routerLink="/commercial">
                                    <i class="fa fa-chevron-right"></i> For the Bussiness
                                </a>
                           
                                <a routerLink="/">
                                    <i class="fa fa-chevron-right"></i> Blog
                                </a>
                            </mat-list-item>
                            <mat-list-item>
                              <a routerLink="/help">
                                  <i class="fa fa-chevron-right"></i> Help
                              </a>
                          </mat-list-item>
                        </mat-list>
                    </div>
                   
                    <div>
                        <h4>ADDRESS</h4>
                        <mat-list class="contactus">
                            <mat-list-item>
                                17154 Butte Creek Rd,
                            </mat-list-item>
                            <mat-list-item>
                                Suite 250,
                            </mat-list-item>
                            <mat-list-item>
                                Houston TX 77090.
                            </mat-list-item>
                            <mat-list-item>
                                Toll Free: 1-888-545-4687
                            </mat-list-item>
                            <mat-list-item>
                                Fax: 281.715.5767
                            </mat-list-item>
                            <mat-list-item>
                                Voice: 281.552.8390
                            </mat-list-item>
                        </mat-list>
                        <span>
                            <a rel="noreferrer" href="https://www.facebook.com/ourenergytexas" target="_blank" >
                                <img src="../assets/img/facebook.png" alt="" width="45px" height="45px">
                            </a>
                        </span>
                        <span>
                            <a rel="noreferrer" href="https://twitter.com/ourenergy" target="_blank">
                                <img src="../assets/img/Twitter_Icon.png" alt="" width="45px" height="45px">
                            </a>
                        </span>
                        <span>
                            <a rel="noreferrer" href="https://plus.google.com/+Ourenergyllc" target="_blank">
                                <img src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697064-googleplus-512.png" alt="" width="46px" height="46px">
                            </a>
                        </span>
                        <span>
                            <a rel="noreferrer" href="https://www.linkedin.com/company/our-energy-llc" target="_blank">
                                <img src="https://www.brainplow.com/wp-content/uploads/2018/04/linkedineeeee.png" alt="" width="35px" height="35px">
                            </a>
                        </span>
                    </div>
                    <div>
                        <h4>ACCOUNTS</h4>
                        <mat-list>
                            <mat-list-item>
                                <a routerLink="/register">
                                    <i class="fa fa-chevron-right"></i> Signup Now</a>
                            </mat-list-item>
                            <mat-list-item>
                                <a routerLink="/login">
                                    <i class="fa fa-chevron-right"></i> My Account</a>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
            <div class="footer">
                © 2019 Our Energy, LLC. PUCT Certificate (#10170) All rights reserved.
                <div class="footerLinks">
                    <a routerLink="/term-and-conditions"> Customer Agreement </a> |
                    <a routerLink="/privacy-policy"> Privacy Policy </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div> -->
<!--  -->

