<!-- <div class="mainheader">
    <p class="info-bar">
        <i class="material-icons">phone</i>CALL TOLL FREE: 1.888.545.4687 Email: info@ourenergyllc.com
    </p>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <mat-list role="list" class="items">
            <button style="border: 0px; margin-top: 0px; font-weight: bold; color: red;" (click)="quickPayDialog()"> Quick Pay My Bill </button>
            <a routerLink="/contact">
                <p role="listitem">
                    Contact Us
                </p>
            </a>
            <a routerLink="/help">
                <p role="listitem">
                    Help
                </p>
            </a>
            <a routerLink="/login">
                <p role="listitem">
                    My Account
                </p>
            </a>
        </mat-list>
        <mat-list role="list1" class="socialLinks">
            <a href="https://www.facebook.com/ourenergytexas" rel="noreferrer" target="_blank">
                <span role="listitem">
                    <i class="fa fa-facebook"></i>
                </span>
            </a>
            <a href="https://twitter.com/ourenergy" rel="noreferrer" target="_blank">
                <span role="listitem">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a href="https://plus.google.com/+Ourenergyllc" rel="noreferrer" target="_blank">
                <span role="listitem">
                    <i class="fa fa-google"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/company/our-energy-llc" rel="noreferrer" target="_blank">
                <span role="listitem">
                    <i class="fa fa-linkedin"></i>
                </span>
            </a>
        </mat-list>
    </div>
</div> -->

<div class="header " id="MYHeader">
    <div class="tempHeader">
      <marquee *ngFor="let value of data;index as i;">
        <a href="{{value.redirect_link}}" target="_blank">
          <h3>{{value.text_to_display}}</h3>
          </a>
      </marquee>
    </div>
  <div class="inner_header">
    <div class="logo_wrapp">

      <a class="logo" [routerLink]="['/']">
        <img src="../assets/img/log_OurEnergy.png" alt="logo" routerLink="">
      </a>
      <!-- <img src="../assets/img/WTG-Energy-Logo.png" alt="logo" style="height: 40px" routerLink="" matTooltip="Home"> -->
      <!-- <a routerLink="" style="text-decoration: none;">
                <h1 style="font-size:32px;font-weight:800;margin-left:10px">
                    <span style="color:#d00000">W</span>
                    <span style="color:#2e2566;margin-left: -4px;">TG</span>
                    <span style="color:#2e2566;"> ENERGY</span>
                </h1>
            </a>-->

    </div>
    <div class="nav_right">
      <mat-list role="list" class="nav">
        <!-- <a routerLink="/plan">
                <mat-list-item class="main-listt" role="listitem">
                    Plans
                </mat-list-item>
            </a> -->
        <!-- <a routerLink="/residential">
                <mat-list-item class="main-listt" role="listitem">
                    Residential
                </mat-list-item>
            </a> -->
        <!-- <a routerLink="/commercial">
                <mat-list-item class="main-listt" role="listitem">
                    Commercial
                </mat-list-item>
            </a> -->
        <!-- <a routerLink="/energy-saving">
                <mat-list-item class="main-listt" role="listitem">
                    Saving Tips
                </mat-list-item>
            </a> -->
        <!-- <a routerLink="/ourlife">
                <mat-list-item class="main-listt" role="listitem">
                    Our Life
                </mat-list-item>
            </a> -->
        <!-- <a routerLink="/special">
                <mat-list-item class="main-listt" role="listitem">
                    Specials
                </mat-list-item>
            </a> -->
        <a routerLink="/about" routerLinkActive="Active">
          <mat-list-item class="main-listt" role="listitem">
            About Us
          </mat-list-item>
        </a>
        <a routerLink="/residential" routerLinkActive="Active">
          <mat-list-item class="main-listt" role="listitem">
            For the Home

          </mat-list-item>
        </a>
        <a routerLink="/commercial" routerLinkActive="Active">
          <mat-list-item class="main-listt" role="listitem">
            For the Business
          </mat-list-item>
        </a>
        <a class="divide_login" routerLink="/register" routerLinkActive="Active">
          <mat-list-item class="main-listt" role="listitem">
            Sign Up
          </mat-list-item>
        </a>
        <button class="sMyAccount" type="button" routerLink="/login">
          <mat-list-item class="main-listt  btn" role="listitem">
            My Account
          </mat-list-item>
        </button>
      </mat-list>
    </div>
    <div class="Toggle">
      <mat-icon (click)="myFunction()">format_align_right</mat-icon>
    </div>
  </div>

</div>
<div class="topnav" id="myTopnav">
  <mat-list>
    <!-- <a routerLink="/plan">
        <mat-list-item class="main-listt" role="listitem">
            Plans
        </mat-list-item>
    </a> -->
    <!-- <a routerLink="/residential">
        <mat-list-item class="main-listt" role="listitem">
            Residential
        </mat-list-item>
    </a> -->
    <!-- <a routerLink="/commercial">
        <mat-list-item class="main-listt" role="listitem">
            Commercial
        </mat-list-item>
    </a> -->
    <!-- <a routerLink="/energy-saving">
        <mat-list-item class="main-listt" role="listitem">
            Saving Tips
        </mat-list-item>
    </a> -->
    <!-- <a routerLink="/ourlife">
        <mat-list-item class="main-listt" role="listitem">
            Our Life
        </mat-list-item>
    </a> -->
    <!-- <a routerLink="/special">
        <mat-list-item class="main-listt" role="listitem">
            Specials
        </mat-list-item>
    </a> -->
    <a routerLink="/about" routerLinkActive="Active">
      <mat-list-item class="main-listt" role="listitem">
        About Us
      </mat-list-item>
    </a>
    <a routerLink="/commercial" routerLinkActive="Active">
      <mat-list-item class="main-listt" role="listitem">
        For the Home
      </mat-list-item>
    </a>
    <a routerLink="/" routerLinkActive="Active">
      <mat-list-item class="main-listt" role="listitem">
        For the Business
      </mat-list-item>
    </a>
    <button class="sMyAccount" type="button" routerLink="/login">
      <mat-list-item class="main-listt  btn" role="listitem">
        My Account
      </mat-list-item>
    </button>
    <!-- <a routerLink="/register" routerLinkActive="Active">
      <mat-list-item class="main-listt" role="listitem">
        Sign Up
      </mat-list-item>
    </a> -->
  </mat-list>
</div>