.mainheader {
    padding: 0px 30px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0;
    color: #616161;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    .socialLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        // margin-top: -4px;
        span {
            i {
                padding: 3px 8px;
            }
        }
    }
    mat-list {
        padding-top: 0px
    }
    .items {
        display: flex;
        flex-direction: row;
        p {
            padding: 0px 5px;
            margin: 0px;
        }
    }
    .info-bar {
        display: inline-block;
        font-size: 15px;
        i {
            vertical-align: middle;
            font-size: 20px;
        }
    }
    .mainToggle {
        display: none;
    }
    .logo {
        padding: 2px 10px;
        i {
            font-size: 15px;
        }
    }
    mat-list-item,
    a {
        color: #616161;
        font-weight: bold;
        height: 25px;
        padding: 2px 1px;
        text-decoration: none;
        // margin-top: -4px;
    }
    mat-list-item:hover,
    a:hover {
        color: #ffffff;
        background-color: #cd0000;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
}

.tempHeader {
    width: 100%;
    height: 70px;
}
.mat-list .mat-list-item{
  height: auto;
}
:host ::ng-deep .mat-list .mat-list-item .mat-list-item-content,
.mat-list .mat-list-option .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-option .mat-list-item-content,
.mat-selection-list .mat-list-item .mat-list-item-content,
.mat-selection-list .mat-list-option .mat-list-item-content {
    padding: 5px 8px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 0px 5px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    .main-listt {
        font-size: 15px;
        padding: 25px 8px;
    }
    .logo {
        cursor: pointer;
    }
    .Toggle {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    mat-list {
        padding-top: 0px
    }
    mat-list-item,
    a {
        color: #616161;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }
    mat-list-item:hover,
    a:hover {
        color: #ffffff;
        background-color: #cd0000;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
}

.mainnav a:hover {
    color: #ffffff;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
    display: none;
}

@media only screen and (max-width: 991px) {
    .tempHeader {
        height: 43px;
    }
    .download-here img{
      max-width: 100px;
    }
    .mat-list{
      padding: 0;
    }
    .mainheader {
        display: none;
    }
    .header {
        top: 0;
    }
    .header .nav {
        display: none;
    }
    .header .Toggle {
        display: unset;
        color: #7c7c7c;
        cursor: pointer;
    }
    .topnav {
        display: unset;
    }
    .topnav a {
        display: none;
    }
    .SideNavToggle a.icon {
        display: block;
    }
    .SideNavToggle.responsive {
        position: relative;
    }
    .SideNavToggle.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        display: block;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        mat-list-item {
            height: 28px;
        }
    }
    #myTopnav a:hover {
        background-color: #cd0000;
        text-decoration: none;
        font-weight: bold;
        color: #fff !important;
        mat-list-item {
            color: #fff;
        }
    }
}

@media only screen and (max-width: 991px) {
    .mainheader .mainnav {
        display: none;
    }
}

p {
    margin: 0px 0 0px;
}
