<mat-card class="forget">
    <div class="close-dialog"><i class="material-icons" (click)="close()">
            close
            </i></div>
    <mat-form-field>
        <input matInput [(ngModel)]="email" [formControl]="validate_email" required>
        <mat-error *ngIf="validate_email.invalid">{{getErrorMessageEmail()}}</mat-error>
        <mat-placeholder>Enter Your Email </mat-placeholder>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="custid" [formControl]="cust_id" required>
        <mat-error *ngIf="cust_id.invalid">{{getErrorMessageAcc()}}</mat-error>
        <mat-placeholder>Enter Your Account no. </mat-placeholder>
    </mat-form-field>
    <div class="recaptcha">
        <div class="text-center">
            <app-recapcha></app-recapcha>
        </div>
        <div>
            <p class="error"> {{cap_result}}</p>
        </div>
    </div>
    <div class="spinner" *ngIf="showSpinner">
        <img src="../../../assets/img/Spinner-new.svg" width="150" height="150" alt="logo">
    </div>
    <button  (click)="sumbit()" class="btn">Submit</button>
</mat-card>