<!-- <div *ngFor="let i of notifications; let abc = index;" (click)="readNotification(abc)">
    <div id="notiFalse">
        <div class="notification">
            <div class="notify">
                <i class="fa fa-user-circle-o"></i> <span class="date">{{i.created_date | date }}</span>
            </div>
            <div>
                <span>{{i.message}}</span>
                <span>Not Read</span>
            </div>
        </div>
    </div>
    <div id="notiTrue">
        <div class="notification">
            <div class="notify">
                <i class="fa fa-user-circle-o"></i> <span class="date">{{i.created_date | date }}</span>
            </div>
            <div>
                <span>{{i.message}}</span>
                <span> Read</span>
            </div>
        </div>
    </div>
</div> -->