<div style="display: flex; flex-direction: row">
    <div style="display: flex; margin-left: auto;">
        <mat-icon matTooltip="Close" (click)="exitDialog()">close</mat-icon>
    </div>
</div>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Bills">
        <!-- <mat-tab>-->
        <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-icon matTooltip="Bills" style="font-size:25px;font-weight:700;">description</mat-icon>
                <span style="font-size:16px;font-weight:bold;">Bills</span>
            </div>
        </ng-template>
        <mat-card>
            <div class="container-fluid">
                <div class="row">
                    <mat-form-field class="searchBar">
                        <input matInput placeholder="Search..." (keyup)="billFilter($event.target.value)">
                    </mat-form-field>
                </div>
            </div>
            <div class="header-paginator">
                <div class="topPaginator">
                    <mat-paginator #paginatorBill [pageSize]="5" [pageSizeOptions]="[5,10]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
            <div class="my">
                <div class="y">
                    <mat-table #table [dataSource]="billDataSource" class="bill">
                        <ng-container matColumnDef="2">
                            <mat-header-cell *matHeaderCellDef> Average Rate</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.avg_energy_rate ? element.avg_energy_rate:'--'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="3">
                            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.bal_fwd_amount ? element.bal_fwd_amount:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="4">
                            <mat-header-cell *matHeaderCellDef> Bill Date </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{(element.bill_date | date) ? (element.bill_date | date):'--'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="5">
                            <mat-header-cell *matHeaderCellDef> Bill no. </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.bill_no ? element.bill_no:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="6">
                            <mat-header-cell *matHeaderCellDef> Master Bill no. </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.cons_master_bill_no ? element.cons_master_bill_no:'--'}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="7">
                            <mat-header-cell *matHeaderCellDef> Current Rate </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.curr_amount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="8">
                            <mat-header-cell *matHeaderCellDef> Current Charges </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.current_charges}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="9">
                            <mat-header-cell *matHeaderCellDef> Customer Id </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.cust_id ? element.cust_id:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="10">
                            <mat-header-cell *matHeaderCellDef> Due Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.due_amount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="12">
                            <mat-header-cell *matHeaderCellDef> K1 Quantity </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.k1_qty ? element.k1_qty:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="13">
                            <mat-header-cell *matHeaderCellDef> KH Quantity </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.kh_qty ? element.kh_qty:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="14">
                            <mat-header-cell *matHeaderCellDef> Last Paid Date</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{(element.last_paid_date | date) ? (element.last_paid_date | date):'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="15">
                            <mat-header-cell *matHeaderCellDef> Master Customer Id </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.master_cust_id ? element.master_cust_id:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="17">
                            <mat-header-cell *matHeaderCellDef> Pay Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.pay_amount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="18">
                            <mat-header-cell *matHeaderCellDef> Service End </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.service_end ? element.service_end:'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="19">
                            <mat-header-cell *matHeaderCellDef> Service Start </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{(element.service_start | date) ? (element.service_start | date):'--'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="20">
                            <mat-header-cell *matHeaderCellDef> Tax Amount </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.tax_amount}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="billDisplayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: billDisplayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </mat-card>
    </mat-tab>
    <!-- <mat-tab label="Payments"> -->
    <mat-tab>
        <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-icon matTooltip="Payments" style="font-size:25px;font-weight:700;">attach_money</mat-icon>
                <span style="font-size:16px;font-weight:bold;">Payments</span>
            </div>
        </ng-template>
        <mat-card>
            <app-customer-portfolio-payment></app-customer-portfolio-payment>
        </mat-card>
    </mat-tab>
    <!--<mat-tab label="Plan"> -->
    <mat-tab>
        <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-icon matTooltip="Plan" style="font-size:25px;font-weight:700;">payment</mat-icon>
                <span style="font-size:16px;font-weight:bold;">Plans</span>
            </div>
        </ng-template>
        <mat-card>
            <div class="my-container">
                <div class="row contains">
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Customer Id" value="{{product?.cust_id ? product?.cust_id : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="End Date" value="{{(product?.end_date | date) ? (product?.end_date | date):'--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Premise Id" value="{{product?.premise_id ? product?.premise_id : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Product Id" value="{{product?.product_id ? product?.product_id : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Product Info" value="{{product?.product_info ? product?.product_info : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Product Name" value="{{product?.product_name ? product?.product_name : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Start Date" value="{{(product?.start_date | date) ? (product?.start_date | date):'--' }}" disabled>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-icon matTooltip="Contracts" style="font-size:25px;font-weight:700;">assignment</mat-icon>
                <span style="font-size:16px;font-weight:bold;">Contracts</span>
            </div>
        </ng-template>
        <mat-card>
            <div class="my-container">
                <div class="row contains">
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Contract Category" value="{{product?.contract_category ? product?.contract_category : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Contract Category Description" value="{{product?.contract_category_desc ? product?.contract_category_desc : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Contract description" value="{{product?.contract_desc ? product?.contract_desc : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Contract ID" value="{{product?.contract_id ? product?.contract_id : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Type" value="{{product?.contract_type ? product?.contract_type : '--'}}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <input matInput placeholder="Type Description" value="{{product?.contract_type_desc ? product?.contract_type_desc : '--'}}" disabled>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>